[2012-08-30 22:36] hughesadam87 opened #46 "Questions about .rst and tex formatting."
Hey everyone,

I'm new to .rst and encountered a few issues in how the .tex document is constructed given the .rst source.  If anyone has any expertise in this area, can you help me out and also send your answers to my email address (hugadams@gwmail.gwu.edu)?  Thanks.
1.  I used numbers as my as variables to my reference my citations.  The example document uses words.  For example:

[1]  vs [ref 1

[2013-05-02 18:07] jaberg opened #49 "make_paper.sh hangs"
I haven't looked into it yet, but a fresh checkout of the scipy_proceedings followed by

[code]

just hangs there not doing anything. I haven't investigated, but if someone else fixes this before me let me know :)

[2013-05-29 13:43] mfenner1 opened #66 "Wide (two-columns) Figures"
Quick question:  are wide figures appropriate for our publication medium?

If so, how can we convince restructured -> docutils -> latex to use a latex "figure_" (as opposed to "figure").  Would the entire latex figure_ environment and content have to be hard coded in the original rst document?

Best,
Mark

[2013-05-29 14:57] #66 closed, assigned to nobody

[2013-05-29 15:06] #46 closed, assigned to nobody

[2013-05-29 15:11] #49 closed, assigned to nobody

[2013-05-31 13:08] mfenner1 opened #67 "Wide (two-column) Tables"
This seems to be a recurring theme for me.  Can we get a tag/specifier for wide tables?

Thanks again for the quick response on the wide figures.

Best,
Mark

[2013-06-11 14:40] #67 closed, assigned to nobody

[2013-06-27 14:04] gpoore opened #69 "Spurious spacing in references"
Based on my experimentation, it looks like any reference beginning with an author initial must have a second line. Otherwise, there is extra spacing before the author name. And the extra spacing disappears if there isn't a period after the initial, or if there is only a period by itself.

Compare extra spacing before the `L.` produced by

[code]

versus the output of

[code]

See the discussion in

[2013-07-09 09:36] jaberg opened #70 "Add link to published proceedings"
Add links to the README pointing to all previous years' published proceedings (P.S., where are they?)

[2013-07-11 03:33] TheChymera opened #71 "Using the format for generic open-revision publications"
Hello, I have been trying to set up a system for scientific publishing with open accessible revision (as opposed to review!) in mind. For my (rather messy) current LaTeX-based solution please see https://github.com/TheChymera/OPR.Concepts-Guidelines-for-OPR .

The way the scipy proceedings are organized seems a far supperior approach, though. I would like to publish individual papers as separate g

[2013-07-11 16:12] #71 closed, assigned to nobody

[2013-07-11 23:17] TheChymera opened #72 "Automated Bibliography Management"
Hi guys, I am trying to use the scipy proceedings format to self-publish some scientific results (see https://github.com/TheChymera/OPR.OPR-Concepts-Guidelines/blob/master/paper/paper.rst#spi02 for the according guidelines paper I am writing). Previously I tried to do this via LaTeX ( https://github.com/TheChymera/OPR.Concepts-Guidelines-for-OPR ), and even though that approach was inferior - at l

[2013-07-12 13:51] TheChymera opened #73 "PythonTeX and .rst publishing"
Hello, I am trying to write up some guidelines for revision-oriented publishing ( https://github.com/TheChymera/OPR.Concepts-Guidelines-for-OPR ). As it makes little sense to version figures over git - it would be awesome to have them plotted at compile time (which PythonTeX does). However, though I very much like LaTeX, I am thinking of maybe writing my papers as .rst (so that they can easily be

[2013-10-28 18:38] aterrel opened #74 "2008 and 2009 websites lack images"
Trying to maintain the conference.scipy.org site, I noticed the following pages are missing images.   Is there someplace to find the source?

http://conference.scipy.org/proceedings/scipy2009/
http://conference.scipy.org/proceedings/scipy2008/

[2014-05-27 06:42] ketch opened #80 ".. note:: doesn't work correctly"
I'd like to put a "note" in my paper.  This is part of standard ReST, but in the paper it causes the text to extend across both columns.

This is caused by the following block:

[code]

The number before `\textwidth` should be <0.5, I guess.

[2014-05-27 07:16] #80 closed, assigned to nobody

[2014-06-02 15:41] dpsanders opened #81 "Use IPython notebook to write proceedings paper?"
I am trying to write the proceedings using the IPython Notebook to write my paper for the SciPy 2014 proceedings, since I am not very familiar with reST (and since the IPython Notebook seems like a good tool for such a document for future reference...)

I have two questions:
(1) What is the correct way to include _output_ from Python code (i.e. notebook output cells) in the proceedings?

(2) The r

[2014-06-02 21:16] #81 closed, assigned to nobody

[2014-06-13 02:13] scollis opened #85 "BUG: Compling papers has 2010 dates"
Copyright and titling is 2010.. If I get around to it I will submit PR.. Should be done under 2014 branch right?

[2014-06-13 13:21] #85 closed, assigned to nobody

[2014-06-13 19:04] scollis opened #87 "Question re Publishing"
Filling out paperwork here (needs tracking as Govt funds used). Is there a formal "Publisher" of these proceedings?

[2014-06-13 21:34] #87 closed, assigned to nobody

[2014-06-15 20:07] kschleicher opened #91 "is this what I should do now?"

[2014-06-28 06:54] stefanv opened #109 "Allow building papers straight from Jupyter notebooks"

[2014-07-01 17:20] scollis opened #110 "wrong *th in proceedings"
https://github.com/scipy-conference/scipy_proceedings/blob/2014/scipy_proc.json#L8

If 2010 was the 9th.. http://conference.scipy.org/proceedings/scipy2010/
would this not be the 13th?

[2014-07-01 20:23] #110 closed, assigned to nobody

[2015-02-10 15:51] jzuhone opened #113 "Delay in publishing proceedings is unacceptable"
I don't mean to be harsh, but this long of a delay in publishing the proceedings is simply unacceptable. If the conference wants anyone to bother with submitting a proceedings next year, or for the foreseeable future for that matter, the conference organizers need to step up and completely overhaul this procedure. Some people actually rely on this conference proceedings to get their results out in

[2015-02-10 16:51] stefanv commented on #113
Thanks for your note John. I apologize for the delay, due to my moving
countries and jobs. I've been editing the introduction in the evenings
after work this week and am about to release. Your patience is appreciated.

[2015-02-10 17:08] jzuhone commented on #113
If that's the case, then it is not your fault--it is the fault of whoever organized things this way. They shouldn't place that responsibility on one person.

[2015-02-10 17:21] stefanv commented on #113
I'm afraid it's my fault for not communicating better. Again, my apologies.
I will have it ready by the end of the week.

[2015-02-11 15:33] jakevdp commented on #113
Hi @jzuhone – I'd add that everything in the SciPy conference – from the scheduling to the website to talk selection to communication to sponsor organization to proceedings review & publication – is done by a team of community volunteers. If there's something about the organization that you think should change, the best way to make that happen is to become part of it!

[2015-02-11 15:38] jzuhone commented on #113
Hi @jakevdp,

I would be interested in helping out--though at the moment there are some family health issues that might make my participation limited. However, if you could direct me to ways I can find out more about volunteering I would be interested.

[2015-02-11 15:58] jakevdp commented on #113
@jzuhone – the 2015 conference chair is @kjordahl. If you get in touch with him, he'd be able to plug you in!

[2015-06-05 21:37] sbenthall opened #118 "PDFLaTeX error output when following README instructions"
I've been following the instructions in the README and have gotten a PDFLaTeX error when trying to compile my (unedited) copy of the 00_vanderwalt paper. The culprit appears to be a missing file, ```paper_stats.json```

This is a gist of the error and preceding commands, copied from my terminal:

https://gist.github.com/sbenthall/67d0a39d8c7b9efdd961

[2015-06-05 22:38] stefanv commented on #118
[code]

You must install the IEEE transactions class--check the README for instructions.

[2015-06-05 22:38] #118 closed

[2015-06-05 23:01] sbenthall commented on #118
works. thanks!

[2015-06-05 23:18] argriffing commented on #118
http://en.wikipedia.org/wiki/Hawthorne_effect

[2015-06-06 23:23] sbenthall opened #119 "link in README to review_criteria.md broken in GitHub view"
Following the link on REAME preview on this page:

https://github.com/scipy-conference/scipy_proceedings

to the review criteria is broken, leading to this url:

https://github.com/scipy-conference/scipy_proceedings/review_criteria.md

a possible alternative URL for this link (which leads to a page on which one can read the review criteria) is:

[2015-06-06 23:23] sbenthall commented on #119
... hit "comment" before posting the alternative URL...

https://github.com/scipy-conference/scipy_proceedings/blob/master/review_criteria.md

[2015-06-08 15:56] #119 closed

[2015-06-11 16:58] bmcfee opened #120 "[proceedings] multiple institutions?"
In the 2015 proceedings template and build system, are multiple institutions per author accepted/supported?

It seems to work, in terms of generating the correct footnotes for affiliations, but I'm getting incorrect footnote markers next to the names.

Example source:
[code]
and the rendered tex/pdf output:
![Author names](http://i.imgur.com/LnkG0ls.png)
...
![Footnotes](http://i.imgur.com/he7RBmI

[2015-06-11 17:00] bmcfee commented on #120
(clarification) actually the third institution is completely missing, so maybe multi-institution just doesn't work?

[2015-06-11 17:07] stefanv commented on #120
This use-case isn't currently supported. Are you interested in making a
pull request, Brian?

[2015-06-11 17:10] bmcfee commented on #120
Ok, thanks for clarifying!

I'll take a stab at fixing it, but no promises that it'll work!  (Beats writing, anyway! :))

Is the PR process the same as submission, just with a non-year branch name?

[2015-06-11 17:13] stefanv commented on #120
Thanks, Brian! Yes, please make the changes on the master branch, update
the example paper to include the new feature, and then we'll merge the
changes into 2015 as well.

[2015-06-11 18:11] bmcfee opened #122 "question: is the page limit 7 or 8?"
The readme says 7, but the email said 8.

[2015-06-13 00:58] michaelpacer opened #125 "Apparent python 3 incompatibility and possible PDFLaTeX error"
In following the instructions after forking the repo, cloning into a local directory, switching to the `2015` branch, making a personal directory (`papers/mike_pacer`), moving the example paper into my local directory and then trying to run `./make_paper.sh papers/mike_pacer/` I get an error.

Specifically,

[code]

Which looks like it both had some kind of problem related to running PDFLaTeX, as

[2015-06-13 01:14] stefanv commented on #125
The build pipeline unfortunately has not been ported to Python 3 yet.  Please use Python 2 in the meantime.

[2015-06-13 01:14] #125 closed

[2015-06-13 14:34] bmcfee opened #127 "only the first table gets booktabs"
This can be observed in the demo doc, where table 1 gets booktabs and tables 2 and 3 do not.

This doesn't seem to be a property of the tables themselves, since rearranging them within the source document still ends up with the same behavior.

[2015-06-13 15:31] stefanv commented on #127
Thanks for the report, Brian.  What is a booktab?  Tables has been one of the pain points of this pipeline so far.

[2015-06-13 15:54] bmcfee commented on #127
Booktabs are the nice-looking tables: https://en.wikibooks.org/wiki/LaTeX/Tables#Using_booktabs

I can take a stab at fixing this, but probably not until later next week.  From a quick glance, it looks like maybe some state is getting reset (or not) in the `active_table` attribute: https://github.com/scipy-conference/scipy_proceedings/blob/master/publisher/writer/__init__.py#L50

[2015-06-15 17:58] #127 closed

[2015-06-15 18:11] jackiekazil commented on #122
I don't know, but we went with 8. /cc @dmasad

[2015-06-15 18:13] katyhuff commented on #122
@bmcfee and @jackiekazil :  Sorry about that. Go with 8. I'll fix the readme.

[2015-06-15 18:16] katyhuff commented on #122
fixed with ba2993db5f9586d6ac0cb36ffdf31810a704e67f

[2015-06-15 18:16] #122 closed

[2015-06-15 21:31] adamrp opened #143 "Wrong year being rendered on PDFs"
Is the use of the year 2010 intentional in [these lines](https://github.com/scipy-conference/scipy_proceedings/blob/43d93c693a2c047e4b3e7967df44fbe7685ff67e/scipy_proc.json#L1-L11)? I believe it is causing the wrong year to be rendered at the top of the PDF (assuming it should be 2015).

![image](https://cloud.githubusercontent.com/assets/2574407/8171184/591eefbc-1373-11e5-86d3-9dd03bdec208.png)

[2015-06-15 21:35] adamrp opened #144 "Setting last author as corresponding author?"
Currently, whatever author is listed first is the corresponding author. However, we would like to use the *last* author specified as the corresponding author. Will that be possible?

[2015-06-15 21:41] katyhuff commented on #143
@adamrp, I think you may have cloned the repo before I fixed that (a few weeks ago). You can see on the buildbot that everyone's pull requests are building with the right year: http://nipy.bic.berkeley.edu:5000/ .

I suspect this will be fixed if you merge the most recent version of the branch. Let me know.

[2015-06-15 21:42] katyhuff commented on #120
I think this can be closed now that this is merged. Closing.

[2015-06-15 21:42] #120 closed

[2015-06-15 21:44] katyhuff commented on #113
Since the 2014 proceedings are now published. I'm going to close this. Note that we are currently on track to publish the 2015 proceedings at the start of the conference.

[2015-06-15 21:44] #113 closed

[2015-06-15 21:44] katyhuff commented on #144
Let me look into it.

[2015-06-15 21:45] adamrp commented on #143
That worked! Thanks very much @katyhuff :smile:

[2015-06-15 21:45] #143 closed

[2015-06-15 21:49] katyhuff commented on #143
happy to help!

[2015-06-15 22:14] katyhuff commented on #144
Ok, I think I can fix this, but not today. If you're willing, please go ahead and make your PR and I'll try to address this issue before the proceedings are published.

[2015-06-15 22:31] adamrp commented on #144
Great! I will make the submission now, and fix this later if possible. Thanks again @katyhuff!

[2015-06-16 04:12] jackiekazil commented on #144
I was going to ask something similar. Is it possible to get both authors to be corresponding authors? (My colleague is awesome, but I don't want either of us to be a single point of failure.)

[2015-06-16 04:16] katyhuff commented on #144
@jackiekazil good idea. I'm sure it's possible, but I'm putting out too many fires this week, so if you wait on me it'll have to wait until shortly before publication. However... if any intrepid pythonista wants to look into it..  here's the offending line of python:  https://github.com/scipy-conference/scipy_proceedings/blob/master/publisher/writer/__init__.py#L127

[2015-06-16 04:33] jackiekazil commented on #144
No worries. If I wasn't doing polishing / updates of Mesa code for Scipy I
would totally dig into the code.

[2015-06-23 19:55] michaelpacer commented on #72
I think this pull request should address this issue: https://github.com/scipy-conference/scipy_proceedings/pull/166.

You'll need to use bibtex (as you did in LaTeX), but it's far more automated than writing every bib entry by hand.

[2015-06-23 20:03] katyhuff commented on #72
I think what you mean, @michaelpacer is that PR #166 addresses this issue? In any case, I agree!! So... closing this! Nice work, folks.

[2015-06-23 20:03] #72 closed

[2015-06-25 17:37] katyhuff opened #169 "Copyright holder different than authors."
@dalippa suggested (in #135) that you sometimes want the copyright holder to be different than the authors... so... let's make that change to the template.

[2015-06-25 20:33] dalippa commented on #169
See my solution in #170

[2015-06-25 22:23] katyhuff commented on #169
Legit solution solved by @dalippa ! Thanks!

[2015-06-25 22:23] #169 closed

[2015-07-03 18:49] katyhuff commented on #144
@jackiekazil asked in #133 :+1:

@jackiekazil :  Which of these functionalities do you want? I'm only going to have time to do one of them before the proceedings happen.

[2015-07-03 23:21] jackiekazil commented on #144
I would two emails might be the easier of the two. However, we did a quick hack in the paper, where we listed both emails under the first author. So, if that works for you all, I would say that I am satisfied.

[2015-07-03 23:25] katyhuff commented on #144
ahh, I see what you're saying. Great!! I'll still try to resolve this issue
at some point soon to help with @adamrp and the Qiita team.

On Fri, Jul 3, 2015 at 4:21 PM, Jackie Kazil <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2015-07-03 23:29] jackiekazil commented on #144
Sounds good! But if it doesn't happen, not the end of the world. I know
these last days can been pretty hectic.

[2015-07-04 16:27] adamrp commented on #144
Agreed, we also used a workaround that we are happy with, so maybe we can
just close this issue?
On Jul 3, 2015 7:29 PM, "Jackie Kazil" <notifications@github.com> wrote:

[2015-07-04 17:37] jackiekazil commented on #144
:+1: .... unless @katyhuff is really excited making the adjustments OR upset at our hacks. ;-)

[2015-07-04 18:09] katyhuff commented on #144
:D Excellent. No hack has ever upset me! I do think this is a worthy
additional feature, so let's leave the issue open, even if it doesn't get
solved until next year. Nice to know that it's all going to be ok even if I
don't get around to it in the next few days, though! thanks.

On Sat, Jul 4, 2015 at 10:37 AM, Jackie Kazil <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2015-07-06 07:24] philippjfr commented on #144
We'd like to do something similar? Could one of you let us know what hacks you applied to get two authors to become corresponding authors?

[2015-07-06 11:38] jackiekazil commented on #144
Philipp -- What we did was put the email address that we wanted in the
field of the first author.
Can you preview what it looks like here:
http://nipy.bic.berkeley.edu:5000/download/23

[2015-07-06 15:14] philippjfr commented on #144
Thanks jackie! @katyhuff Any chance to get proper support for this so that both authors are actually marked as corresponding authors in the title?

[2015-07-06 15:21] katyhuff commented on #144
I'm happy to try to make it so that the corresponding author can be at any place in the author list... however, traditionally, the corresponding author exists specifically in order to delineate a single point of contact for the paper (rather than all the authors). So, it seems a bit odd to me to have two or more. Maybe I'm missing something about the motivation?

[2015-07-06 15:25] philippjfr commented on #144
Really it's more about indicating that we are both joint first authors. We'd very much welcome an alternative way of indicating this joint status.

[2015-07-06 15:32] stefanv commented on #144
The corresponding author is not elevated in any way.  How do other journals indicate joint status?  I don't think I've seen that done before.

[2015-07-06 15:38] philippjfr commented on #144
I've had trouble with this myself but it seems the journal either explicitly states somewhere that both authors made equal contributions to the paper or both first authors are marked as corresponding authors.

[2015-07-06 15:52] stefanv commented on #144
I can implement either for you--let me know what you prefer.

[2015-07-06 15:54] katyhuff commented on #144
@stefanv : I have a plan that should work to achieve both goals, if you
want to give me the afternoon to get around to it, I'd been planning to.

On Mon, Jul 6, 2015 at 10:52 AM, Stefan van der Walt <
notifications@github.com> wrote:

--
http://katyhuff.github.com

[2015-07-06 16:00] philippjfr commented on #144
I'd be happy with either but explicitly stating that both authors contributed equally would probably be best. Thanks a lot for working on this!

[2015-07-06 18:56] stefanv commented on #144
Certainly! Just shout if you need my help with anything.

[2015-07-07 20:20] katyhuff commented on #144
Thanks @stefanv ! We've merged in a solution to this with #171. It's now been merged into the 2015 branch as well, so you can use `:corresponding:` to make the corresponding author someone other than the first author :

[code]
or use `:equal-contributor:` to make a footnote that some subset of authors contributed equally:

[code]

[2015-07-07 20:20] #144 closed

[2015-07-07 23:57] philippjfr commented on #144
Just tried applying this to our paper and it seems to duplicate this text:

[code]

See [here](http://nipy.bic.berkeley.edu:5000/download/27)

The example above seems to indicate that you should add the tag to all equal contributors. Any easy way to fix this?

[2015-07-08 04:50] katyhuff commented on #144
@philippjfr Thanks for pointing that out. [Just fixed it](http://nipy.bic.berkeley.edu:5000/download/27).

[2015-07-08 05:32] philippjfr commented on #144
Thanks for fixing it! Probably need to trigger a new build of our paper somehow for the change to propagate.

[2015-07-08 12:21] katyhuff commented on #144
Already done when I sent the message. You may have the doc cached in your
browser though, so hit refresh to avoid that browerside caching.

On Wed, Jul 8, 2015 at 12:32 AM, Philipp Rudiger <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2015-07-09 21:06] katyhuff commented on #91
?

[2015-07-09 21:06] #91 closed

[2015-07-18 01:31] chendaniely opened #174 "Fix Error in Mesa document"
@katyhuff I'm taking the mesa conference proceeding and putting all the code into an ipython notebook to be used as a tutorial. I noticed the `from mesa.datacollector import DataCollector` line in the Data Collection section should read `from mesa.datacollection import DataCollector`

(datacollector to datacollection) should this be changed as a PR to be merged?

@dmasad @jackiekazil

[2015-07-18 01:52] jackiekazil commented on #174
FWIW :+1: For the catch! If @katyhuff says it's okay, I am good with it.

[2015-07-18 21:41] katyhuff commented on #174
Please do make a change as soon as possible, as a PR.

[2015-07-20 00:33] jackiekazil commented on #174
@katyhuff I didn't know @chendaniely was going to submit PR or if I should have.
@chendaniely, i hope I didn't step on your toes. :-)
PR is in.

[2015-08-26 18:59] #174 closed

[2016-05-23 03:34] rainwoodman opened #183 "Required latex packages."
On a somewhat vanilla Fedora Linux system, the following packages are needed in order to build the example:

texlive-IEEEtran
texlive-everypage
texlive-draftwatermark
texlive-multirow

[2016-05-23 20:37] sbenthall opened #185 "update master from 2016"
Looks like the 2016 branch is currently ahead of master, but those commits are generic.

Can we sync up 2016 with master?

@sarostru @stefanv

[2016-05-23 20:53] sbenthall opened #186 "no module named docutils"
Getting this error on my attempt to build a copy of 00_vanderwalt paper on Ubuntu 14.04

[code]

[2016-05-23 21:01] katyhuff commented on #186
do you have docutils installed?
Try 'pip install docutils' and run it again.

On Mon, May 23, 2016 at 1:53 PM, Sebastian Benthall <
notifications@github.com> wrote:

--
http://katyhuff.github.com

[2016-05-23 21:06] sbenthall commented on #186
This works.
I will update the README to make it clear that the Debian instructions will not install docutils correctly.

[2016-05-23 21:20] sbenthall commented on #186
https://github.com/scipy-conference/scipy_proceedings/compare/master...sbenthall:patch-1

[2016-05-23 21:29] katyhuff commented on #186
If you want to make an actual PR, you're going to want to click the "Create pull request" button at that link. . . https://github.com/scipy-conference/scipy_proceedings/compare/master...sbenthall:patch-1

[2016-05-23 21:36] stefanv commented on #185
Done

[2016-05-23 21:36] #185 closed

[2016-05-23 21:46] sbenthall commented on #186
don't know why i'm so stupid today. ticket closed.

[2016-05-23 21:46] #186 closed

[2016-05-23 21:48] katyhuff commented on #186
Not stupid! You're getting things done !

On Mon, May 23, 2016 at 2:46 PM, Sebastian Benthall <
notifications@github.com> wrote:

--
http://katyhuff.github.com

[2016-05-23 22:06] stefanv commented on #183
Would you mind making a PR to update the README with installation
instructions for Fedora?

​

[2016-05-24 00:25] rainwoodman commented on #183
closed via #188

[2016-05-24 00:25] #183 closed

[2016-05-24 21:16] sbenthall opened #189 "allow building papers straight from LaTeX"
An issue that got raised as a result of last year's review process is that some more traditional academics would prefer if they could submit papers in LaTeX directly rather than as ReStructuredText

[2016-05-24 21:18] sbenthall commented on #73
What is the status of this ticket?

I just wrote #189 because last year we submitted our papers successfully in ReST.

[2016-05-24 21:19] sbenthall commented on #74
These pages no longer have missing image links. Closing this ticket.

[2016-05-24 21:19] #74 closed

[2016-05-24 22:47] #73 closed

[2016-05-24 22:48] stefanv commented on #189
The reason they can't do that is because then we can't review their papers on GitHub as easily with inline comments.

[2016-05-24 22:48] #189 closed

[2016-05-24 22:48] stefanv commented on #189
(Closing, because this is technically already possible by inlining a bunch of LaTeX.)

[2016-05-25 18:01] juanshishido commented on #143
@katyhuff, @stefanv:

I've seen a few issues related to this (e.g., #85, #110), so thought it best not to open a new one. In the `2016` branch, we're still seeing 2010 listed. I'm thinking the conference information just needs to be added (as noted here: https://github.com/scipy-conference/scipy_proceedings/issues/85#issuecomment-45977370).

Also, I checked out the `2015` branch to try to compile

[2016-05-25 18:12] katyhuff commented on #143
The proceedings chairs this year are @sarostru and @sbenthall .

On Wed, May 25, 2016 at 11:06 AM, Juan Shishido <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2016-05-25 18:31] juanshishido commented on #143
Thanks for mentioning Scott and Seb, Katie!

[2016-05-25 18:47] katyhuff commented on #143
No problem. I'm happy to help with this, I just would prefer them to be the
first line of defense if possible.

The year will get fixed when the proceedings are built in the final stage.
Don't worry about it for now. It will be fixed before they're on the scipy
site.  Lots of things happen between now and then.

Curious @juanshishido : Why did you need to checkout the 2015 branch to
test your buil

[2016-05-25 18:57] juanshishido commented on #143
@katyhuff: I was just curious whether the compiled papers in the `2015` branch also had 2010 listed. This was before I realized `scipy_proc.json` controls that information. But, yes, the `2016` branch *does* build the papers 👍

[2016-05-25 19:10] katyhuff commented on #143
oh good, phew!

On Wed, May 25, 2016 at 11:57 AM, Juan Shishido <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2016-05-26 00:15] sbenthall commented on #143
we are the first line of defense. the first line!

[2016-05-26 04:48] sbenthall opened #192 "bibdervalt not rendering bibliography or citations properly"
Ubuntu 14.04 rendering 00_bibdervalt using sh make_paper.sh gives me a pdf, but with no visible references section and `[?]` instead of a reference.

I've ran all the apt-get commands for latex packages listed in the README.

[2016-05-26 09:26] stefanv commented on #192
I cannot reproduce.

There should be ``[?]`` next to some of the references, if you read the text, but Hume's citation should be intact.

[2016-05-27 06:43] rainwoodman commented on #192
I thought #184 could have fixed this -- but it has been merged already. What does the latex log file (in output/) say?

[2016-06-16 13:54] jeanconn opened #218 "Built papers have SciPy 2010 headers"
Looks like that is getting pulled in from

https://github.com/scipy-conference/scipy_proceedings/blob/fabcf46ab9764bba1e9adba3a07cb1b21783701c/scipy_proc.json#L8

[2016-06-27 05:42] rainwoodman commented on #192
I see. It is because of a recent change to use alphaurl. WHen alphaurl is missing the natbib error is not properly detected.

[2016-07-07 04:37] mpacer opened #224 "Email from more than one author"
Is there a way to get it to display more than one authors' emails as corresponding authors? Or should that be included in the text manually (e.g., in the conclusion; in a footnote; in acknowledgments; &c.)?

[2016-07-08 10:55] sbenthall commented on #224
As a quick fix to this, I've added other email addresses as additional 'institutions'

https://github.com/scipy-conference/scipy_proceedings/pull/205/commits/6a6593febb34d2e9ab69cf7dd3b3d491132091d3

I agree that it would be good to have a another way to do this.

[2016-07-11 22:16] rainwoodman opened #226 "Line number reported in error message is incorrect."
This one is quite hard to fix. Because we run the rst converter on processed rst, the line number it throws is different from the original line number.

I don't think it is possible to get the original line number. (Is there a #line instruction in restructured text?)

As a practical alternative, we may want to catch the error, and print some context information from the processed rst to help the a

[2016-07-20 02:45] mpacer opened #227 "Paper built on server has different layout properties for body text font than local builds"
Here is an image of what I mean. I thought our submission was within the 8 page limit because when built locally it is.

It looks like there might be a "leading" (space between lines) issue as well as a definite font size difference for both headers and the body text. But it is not a general typesetting issue because the title and the abstract seem to be rendered with the same spacing properties i

[2016-07-20 02:51] michaelpacer commented on #227
Oh actually… There are slight differences in the formatting of the two with the abstract and title; there is more space between the title bar and the abstract in the build server version than in the locally built version.

[2016-07-29 18:22] sbenthall opened #228 "use LaTeX package that breaks urls on hyphens, for long urls in references"
Long URLs in the reference section may not break appropriately into multiple lines, even when there are hyphens in the URL where it would be appropriate to break. In order to get these URLs to render properly, we need to use the `hyphen` option in the LaTeX url package:

`\usepackage[hyphens]{url}`

Thanks to @kyleniemeyer for this point

https://github.com/scipy-conference/scipy_proceedings/pull/

[2016-07-31 17:16] sarostru opened #229 "ObjArray paper link showing cesium paper on build server"
@stefanv I've been trying to debug this, I closed the PR for objarray and have now reopened it, but on the build server the link for ObjArray always displays the paper for Cesium instead of Objarray.  The link for cesium displays the paper for Cesium.

I've cleared the cache and run update_prs, the pr_list file has ObjArray and the right information.  I've also been adding print statements through

[2016-08-02 14:43] sarostru commented on #229
It seems to have fixed itself over the weekend.

Not sure what happened, maybe there was a local cache on my laptop or a separate file cache in flask.

[2016-08-02 14:43] #229 closed

[2016-08-09 19:14] sbenthall commented on #224
@dalippa did I read somewhere that you wrote the code for this? Could you please link this ticket to it?

[2016-08-09 19:23] sbenthall commented on #228
Simply including this line in

https://github.com/scipy-conference/scipy_proceedings/blob/master/publisher/_static/scipy.sty

causes 00_vanderwalt to break on make_paper.sh.

Needs more investigation.

[2016-08-09 19:34] #228 closed

[2016-08-10 01:31] dalippa commented on #224
#170

[2016-08-10 01:32] dalippa commented on #224
This was the ticket I fixed for adding institutional owners. I remembered email addresses were in a similar spot.

[2016-08-10 01:43] sbenthall opened #231 "make all breaks"
[code]

wtf

[2016-08-10 02:04] sbenthall commented on #231
it's because it's still in Python 2. worked around it

[2016-08-10 02:04] #231 closed

[2016-08-10 02:05] sbenthall opened #233 "port to Python 3"

[2016-08-10 02:05] sbenthall opened #234 "make html breaks"
[code]

[2016-08-10 02:20] kyleniemeyer opened #237 "Publish 2017 proceedings papers in Figshare Collection for DOIs?"
Hello all, this may have come up in conversation in past years (and I talked to @katyhuff a bit about this in Austin), but it would be nice to get the proceedings papers archived permanently (with DOIs) somewhere like Figshare.

Perhaps a Figshare collection could be created for all the papers? The past proceedings websites are all really slick so I don't propose getting rid of those, but this cou

[2016-08-10 02:23] sbenthall commented on #237
That's an intriguing idea. Could you please elaborate on what you have in mind?

[2016-08-10 02:26] sbenthall commented on #234
The problematic line is here:

https://github.com/scipy-conference/scipy_proceedings/blob/master/publisher/_templates/organization.html.tmpl#L12

[2016-08-10 02:30] kyleniemeyer commented on #237
Figshare Collections are essentially a way to group a bunch of works (e.g., papers) *already* uploaded to Figshare (see https://figshare.com/blog/Unveiling_figshare_Collections_a_new_way_to_group_content/202). There's a guide to creating a collection [here](https://support.figshare.com/support/solutions/articles/6000128020-how-to-create-a-collection).

For example, there is a collection for all th

[2016-08-10 02:36] sbenthall opened #238 "conference metadata"
* list of sponsored students
* committee list
* reviewers list
* intro?

[2016-08-10 02:36] sbenthall opened #239 "add video links to all papers 2016"

[2016-08-10 02:40] #234 closed

[2016-08-10 20:09] sbenthall commented on #237
Archiving proceedings papers with a DOI sounds good.

I'm wondering what concrete changes would need to be made to the proceedings software and process to make this happen easily.

I think you're suggesting that a new link should be added to each page about a talk/paper:

http://conference.scipy.org/proceedings/scipy2015/allen_downey.html

Do you think it's important that each author add their own

[2016-08-10 20:21] stefanv commented on #237
EuroSciPy has a way of doing this on arxiv. Nicolas Rougier or Nelle
Varoquaux may have more information.

On Aug 10, 2016 13:10, "Sebastian Benthall" <notifications@github.com>
wrote:

[2016-08-10 20:33] sbenthall commented on #224
thanks, @dalippa

Noting that adding the email as a second 'institution' seems to create a rendering bug on the HTML page of the published proceedings. This issue needs some work.

[2016-08-10 21:28] kyleniemeyer commented on #237
@sbenthall Regarding the link, I was originally thinking that the current link to the PDF could be replaced by a DOI link to the paper on Figshare, so that there's just a single PDF location (associated with the archive). This isn't a necessity, though.

I think the standard collection approach is to have authors upload their own work, and then an organizer creates a public collection out of them.

[2016-08-10 21:29] dalippa commented on #224
It was designed to be for one institution per author. Please look at my SciPy
2015 proceedings paper PR and see if what we did there works.

On Wednesday, August 10, 2016, Sebastian Benthall <notifications@github.com>
wrote:

--
Please forgive any typos since iSent this message from my iPad.

[2016-08-10 22:24] sbenthall opened #240 "bibliographic data used in article html template badly"
Bibliographic data (author's names, emails, and institutions) are rendered badly in the article html template.

In the `toc.json` file created by the build script, this data is represented for each article as (for example):

[code]

This is then rendered to the template by looping through the lists associated with author and author_instituion, zipped together:

https://github.com/scipy-conference/

[2016-08-10 22:28] stefanv commented on #237
Here is the EuroSciPy proceedings I was referring to:
http://arxiv.org/html/1607.03971

Noted about arXiv perhaps not being the ideal location.

[2016-08-10 22:29] sbenthall commented on #237
This is a great discussion.

My feeling is that getting these 2016 proceedings out has already dragged on way too long and it is too late in the game to introduce another step involving a round-trip between authors, figshare, back to .rst files. Pull requests have already been merged.

I'm going to change the header of this ticket to specify the **2017** proceedings.

Perhaps between now and next

[2016-08-10 22:33] kyleniemeyer commented on #237
@stefanv Oh that is interesting, I hadn't seen anything like that before.

@sbenthall While I of course hope to see something along these lines implemented in 2017 and beyond, I'm going to make a final plug for doing something here with the 2016 proceedings—at least for Figshare, there's no need for the source material, just an upload of the final PDF... and I imagine most authors would be willing

[2016-08-10 22:38] sbenthall commented on #237
@kyleniemeyer I'm personally running out of steam for making these kinds of changes this cycle. If you (or somebody else) wants to make a pull request for the README with new process information and the necessary changes to the publisher code, then we can review it as a possibility for this year.

[2016-08-10 23:04] kyleniemeyer commented on #237
@sbenthall Fair enough, and I can only imagine—this is definitely something I would like for my own paper, so I'm happy to help streamline this process.

This year, I think the easiest thing would be to have authors upload their papers to figshare manually, and then give someone (me, in this case) the resulting DOI. Then I can manually add that to the publisher code to add it for the proceedings s

[2016-08-12 03:27] suchow commented on #239
I know it's probably too late at this point, but I recommend changing the SciPy proceedings style so that the link to the video appears at the end of the paper under its own heading, not at the top of the first page. This tries to balance two competing interests: (1) that the talks are a great way to learn about a topic and its useful to be able to find the talk from the PDF, and (2) that reading

[2016-08-12 03:43] sbenthall commented on #239
I'm +1 this change in principle but it should be a separate ticket since it is a separate software feature.
We are going to need to triage which software changes are necessary before publication of the 2016 proceedings, as in some cases (see #240 for example) software has been broken, not just distracting.

[2016-08-12 03:44] sbenthall opened #241 "Link to video in bottom of paper, not top"
See https://github.com/scipy-conference/scipy_proceedings/issues/239#issuecomment-239353046

[2016-08-12 03:44] sbenthall opened #242 "Use archival link to video, not simply YouTube link"
See https://github.com/scipy-conference/scipy_proceedings/issues/239#issuecomment-239353046

[2016-08-13 02:53] dalippa commented on #224
I think I'll be able to get to fixing it sometime in the next few weeks.

[2016-08-15 22:18] sbenthall opened #243 "Unused 'location' field in 'sponsored students' list"
In the conference metadata for the proceedigns, `scipy_proc.json`, there's a place for a list of sponsored students. Entries in this list have three fields: name, org, and location.

Generally speaking, the 'location' field is not used and the result is that the proceedings are published with a trailing comma after each sponsored students.

http://conference.scipy.org/proceedings/scipy2015/student

[2016-08-15 22:43] #243 closed

[2016-08-15 23:08] sbenthall commented on #224
see also #240

[2016-08-17 17:34] sbenthall commented on #239
Is this ticket complete @sarostru ? If so, please close. thx

[2016-08-17 17:34] sbenthall commented on #218
this has been fixed.

[2016-08-17 17:34] #218 closed

[2016-08-17 17:37] sbenthall commented on #224
Linking to @dalippa current work here: https://github.com/dalippa/scipy_proceedings/tree/issue-224-multiple-emails

[2016-08-17 18:04] sbenthall commented on #240
There appears to be a variable for this, author_institution_map, created by the Translator class in writer/\_\_init\_\_.py

https://github.com/scipy-conference/scipy_proceedings/blob/master/publisher/writer/__init__.py#L36

It maps each author to a list of strings representing institutions. If we can tap this, we should be good to go.

[2016-08-17 20:31] #240 closed

[2016-08-17 20:33] sbenthall commented on #224
Ok we are almost all set to finalize the 2016 proceedings.

I'd like to send them to Enthought before the end of the week.

@dalippa Do you think you will be able to get this fix in by then?

[2016-08-17 22:31] sarostru commented on #239
It's on the branch https://github.com/scipy-conference/scipy_proceedings/commits/add-videos-2016 , we need to merge this into 2016, closing this as it is moved to a PR, https://github.com/scipy-conference/scipy_proceedings/pull/244 .

[2016-08-17 22:31] #239 closed

[2016-08-22 21:40] sbenthall commented on #238
fixed

[2016-08-22 21:40] #238 closed

[2016-08-30 02:43] dalippa opened #245 "Paper Generation Error with :corresponding: tag"
I was working on #224 and found this while reconciling changes:

[code]

The :author: tag works, but only for the first corresponding author. Adding :corresponding: and :author: tags also cause the error, as does the 00_vanderwalt.rst file on master and 2016 branches.

Stack trace:

[code]

[2017-02-07 22:28] katyhuff opened #246 "Contact Industry Folks"
We should populate the reviewer invitation list with some industry folks. Go out and find them, @dalippa !

[2017-02-07 22:31] katyhuff opened #247 "Review Proceedings Guidelines with an eye to the past"
Considering the quality we seek in paper submissions, go over the current proceedings guidelines and consider what to add/subtract/alter. Consider pointing to great examples of the evolution of a paper through our review process.

[2017-02-07 22:31] katyhuff opened #248 "Spin up proceedings server"
title says it all, huff.

[2017-02-07 22:32] katyhuff opened #249 "share reviewer list"
Make sure proceedings and program are working from the same master list of reviewers.

[2017-04-01 20:50] dalippa commented on #246
Have 3-4 volunteers already.

[2017-04-01 20:50] #246 closed

[2017-04-01 21:56] katyhuff commented on #247
Great!

On Sat, Apr 1, 2017, 4:04 PM dalippa <notifications@github.com> wrote:

[2017-04-14 16:02] katyhuff commented on #248
Okay, so on the phone call, @mpacer said he wanted to go through this process himself so that there was some knowledge transfer. Also, because he has physical access to the zibi server, that makes sense. Mike,   instructions follow:

[2017-04-21 23:40] mpacer commented on #248
So… getting a warning when I first ran it:

    InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification
    is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
      InsecureRequestWarning)

And more problematically I'm trying to visit `http://zibi.bids.berkeley.edu:5000` and i'm getting seeing nothing on the s

[2017-04-22 00:26] katyhuff commented on #248
@mpacer This is where physical proximity to zibi comes in. You can't unblock zibi's tcp port 5000 firewall via the command line. It requires someone with admin priviledges to log on to zibi in person and click "ok" in the popup (the popup will probably come up on zibi's screen when you run the script) It should only be required once.

If it doesn't pop up automatically you can open up her system p

[2017-04-22 00:57] mpacer commented on #248
kk we should be good now — i also set up a py36 env that already has permissions(i.e., the box was clicked & stefan signed the application package) and stefan reopened the firewall so now it should be good.

[2017-04-23 00:48] katyhuff commented on #248
Great. Closing this issue.

[2017-04-29 18:18] mpacer opened #254 "New docutils breaks current build system"
We're going to need to warn people to use docutils 0.12 not 0.13 or their builds will fail.

[2017-04-29 19:20] dalippa commented on #254
I believe we have a section of requirements for building... maybe it should go there?

[2017-05-03 21:30] mpacer commented on #192
I cannot reproduce on master or on my more recent branches on python3. There are currently errors for running this on python2 on master. But I'm closing this until someone else states that they're running into this issue.

[2017-05-03 21:30] #192 closed

[2017-05-05 14:42] deniederhut opened #258 "DOI suffix for SciPy proceedings - input requested"
In order to issue digital object identifiers (DOI) for items in the proceedings, we will need to come up with a schema for our DOI suffixes. Typically, these include some subset of the following:

- Journal title
- Year
- Volume
- Article ID

But could also be as simple as generating a unique identifier for each registered item. The goal is to have identifiers that are short enough to be easily di

[2017-05-05 18:20] Jabble commented on #258
Hi Dillon,
Librarian Anna here. A couple of questions:
- Which service are you using to mint DOIs?
- Why are you interested in generating the suffixes yourself?

Off the bat, I'd like to recommend that you avoid human readable DOIs, and if it makes sense, let the registration agency generate unique suffixes for you. If you haven't already, look at the DOI Handbook: https://www.doi.org/hb.html

[2017-05-05 19:19] mpacer commented on #258
Thanks Anna! We're all somewhat new to this process and eager to learn. Your expertise will be super helpful, so I expect we will be thanking you many times over throughout this process.

Is there a part of the handbook outside of https://www.doi.org/doi_handbook/2_Numbering.html#2.2.3 that is directly relevant to the suffix conversation? Or does that mostly cover it?

NB: We're working with Cross

[2017-05-05 22:08] Jabble commented on #258
That's a great place to look, also check out 1.6.3 DOI name syntax.

The best practice is to make sure that the identifier string is opaque (non‐meaningful). In registering a DOI, you (as the registrant) are committed to providing and maintaining basic information describing the object to which the DOI refers, called metadata. The metadata you register will include fields like URL, title, author,

[2017-05-07 02:14] #254 closed

[2017-05-07 21:19] katyhuff commented on #249
shared via google drive

[2017-05-07 21:19] #249 closed

[2017-05-07 21:20] katyhuff commented on #248
Can this be closed @mpacer ?

[2017-05-08 07:08] #248 closed

[2017-05-08 19:18] mpacer opened #259 "Cleaning up the commits on master branch"
@katyhuff could you give me some advice as to how to clean up the master branch? I don't know how everything was messed up there and while my git-fu has gotten much stronger, it's not enough to overcome this hurdle and figure out what's wrong.

[2017-05-08 19:29] katyhuff commented on #259
IS everything messed up on the master branch? It looks to me like it's just both ahead and behind, so it needs a merge with 2017. No?

[2017-05-08 22:31] dalippa commented on #259
You could probably do a rebase instead of a merge.

On Mon, May 8, 2017 at 14:29 Katy Huff <notifications@github.com> wrote:

--
Please forgive any typos since iSent this message from my iPad.

[2017-05-16 01:02] #259 closed

[2017-05-16 01:04] mpacer commented on #242
I don't know if this is within scope for this year. We're still working on DOIs for the papers, I don't know nearly enough to work on DOIs for videos.

[2017-05-20 16:28] dalippa opened #264 "Clean up 2017 Repo"
There are a number of files checked in that shouldn't be, like output files, etc.

[2017-05-20 16:30] #264 closed

[2017-05-24 16:06] TheChymera opened #268 "Cannot build paper - TypeError: set_table_style() takes exactly 3 arguments (2 given)"
I forked the repository so that I can start preparing my paper. My paper fails to build, but it turns out, so does the example paper:

[code]
 Can you help me out?

[2017-05-24 18:53] mpacer commented on #268
Are you currently on 2017 or master branch?

[2017-05-24 18:59] mpacer commented on #268
Did you run `pip install -r requirements.txt -U`?

[2017-05-27 00:07] TheChymera opened #270 "PDFLaTeX error"
I get this error trying to compile the example paper

[code]

Can you help me out?

[2017-05-27 00:10] TheChymera commented on #268
It seems to have been docutils, I was using version 0.13.1 . I checked the requirements, and otherwise I look set. However, I am now getting [this other issue](https://github.com/scipy-conference/scipy_proceedings/issues/270). Can you give me a hand with that as well?

[2017-05-27 00:10] #268 closed

[2017-05-27 20:40] mpacer opened #271 "Inline figures"
@katyhuff @dalippa @deniederhut

I just noticed that #267 has their figures at the end of the paper. My intuition is that we should ask authors to put all figures inline, not at the end. That practice originates from publishers who have typesetters that don't want to have to extract the image from around the text if they can avoid it. But our authors _are_ our typesetters, as the typesetting they

[2017-05-27 20:42] TheChymera commented on #270
Apparently I was missing texlive-publishers (`dev-texlive/texlive-publishers` on Gentoo). Installed it, and now the paper builds just fine.

[2017-05-27 20:42] #270 closed

[2017-05-27 20:42] mpacer commented on #245
what is the actual error (i.e., in addition to the stack trace)?

[2017-05-27 21:14] dalippa commented on #245
This error doesn't seem to happen on the current baseline.

[2017-05-27 21:15] dalippa commented on #271
👍

[2017-05-28 14:43] katyhuff commented on #271
I agree. (in the short term, we should probably also communicate directly
with that author -- you probably already have).

On Sat, May 27, 2017 at 4:15 PM, dalippa <notifications@github.com> wrote:

--
http://katyhuff.github.com

[2017-05-28 15:26] deniederhut commented on #271
Okay with me

On Sun, May 28, 2017, 09:43 Katy Huff <notifications@github.com> wrote:

[2017-05-31 02:39] gpoore opened #288 "File encoding defaults to ascii"
The build server is failing with my paper. I believe this is due to vowels with umlauts in some of my references. `publisher/build_paper.py` line 86 should probably add an encoding:
[code]
Otherwise, it appears that papers would need to be pure ascii, which would mean a lot more raw LaTeX in the `.rst` source.

Build server output:
[code]

[2017-05-31 06:46] mpacer commented on #288
Thank you for catching this as well. A few places have this bug, but are fixed as of #289.

This is what I get for having a UTF-8 as the `locale.getpreferredencoding()` on my local machine on which I've been testing the py3 compatibility changes :).

[2017-05-31 06:46] #288 closed

[2017-06-01 22:58] #271 closed

[2017-06-09 06:02] mpacer commented on #233
This should have been dealt with. will reopen if it turns out to be an issue again.

[2017-06-09 06:02] #233 closed

[2017-06-13 20:37] mpacer commented on #227
This was dealt with via https://github.com/scipy-conference/procbuild/pull/17.

[2017-06-13 20:37] #227 closed

[2017-06-14 03:49] jackiekazil opened #296 "Proceedings build link not working?"
I just tried to checkout the most recent build of the proceedings & it doesn't seem to be working -- http://zibi.bids.berkeley.edu:7001/

[2017-06-19 06:12] wheerd opened #298 "Inline syntax highlighting (code role)"
As discussed in #276, it wuld be nice to have inline syntax highlighting. Docutils already provides a [`code` role](http://docutils.sourceforge.net/docs/ref/rst/roles.html#code) for that:
[code]
Unfortunately, for most of the generated latex commands, no styling is defined so that the syntax hlighlighting is not visible.

Docutils itself generates a bunch of fallback commands, but it would be nice

[2017-06-21 18:12] mpacer commented on #298
If it is transforming back to generated LaTeX commands it's a matter of identifying the tokens and applying styling in the [sphinx_highlight module](https://github.com/scipy-conference/scipy_proceedings/blob/2017/publisher/writer/sphinx_highlight.py).

What are the sets of tokens that need styling (and what kind of styling?) in order to make these compatible?

I'm still not sure why the "basic cod

[2017-06-21 18:14] mpacer commented on #296
It has been up for a few days. Closing this issue.

[2017-06-21 18:14] #296 closed

[2017-06-26 04:19] #258 closed

[2017-06-26 21:54] stefanv opened #299 "Add `citation_journal_title` to meta-data"
Currently, we use `citation_conference_title` only, but looks like Google Scholar doesn't index correctly.

See, e.g.

- http://conference.scipy.org/proceedings/scipy2014/collis.html
- https://scholar.google.com/citations?view_op=view_citation&hl=en&user=eMCDQDIAAAAJ&cstart=20&sortby=pubdate&citation_for_view=eMCDQDIAAAAJ:BqipwSGYUEgC

Who knows if that'll fix it (they may be grabbing this info fr

[2017-06-26 21:56] stefanv commented on #299
Also note, from https://scholar.google.com/intl/en/scholar/inclusion.html#indexing:

[2017-06-26 22:27] mpacer commented on #299
Do they give semantics to what those names are to refer to anywhere?

[2017-06-26 23:56] stefanv commented on #299
I could not find a good source; only the URLs linked to.

[2017-06-29 09:19] wheerd commented on #298
They come from docutils itself [here](https://sourceforge.net/p/docutils/code/HEAD/tree/trunk/docutils/docutils/writers/latex2e/__init__.py#l558). I think docutils also uses Pygments for highlighting and it inserts these defaults if inline literals with highlighting are used ([relevant code](https://sourceforge.net/p/docutils/code/HEAD/tree/trunk/docutils/docutils/writers/latex2e/__init__.py#l2481

[2017-07-01 04:15] deniederhut opened #301 "Incorrect metadata in scipy_proc.json"
Specifically, the conference dates in `/scipy_proc.json` are currently listed as 28 June to 3 July, which is not correct for 2017. We may also wish to update the `editor` and `organization` fields.

[2017-07-02 04:55] deniederhut opened #302 "Add DOI inclusion to paper requirements for 2018+"
Part of our agreement with Crossref for issuing DOIs for our conference papers is that we encourage cross-linking between papers as much as possible. As such, I would like to suggest that we add a requirement that authors include DOIs in their references, and further require that they be formatted according to the [Crossref guidelines here](https://www.crossref.org/display-guidelines/#full), enact

[2017-07-07 11:31] deniederhut opened #304 "`make proceedings` fails with more than two editors"
The specific error message is:

[code]

It looks like there is some code from 2011 that hasn't worked for a while, but we never had enough proceedings editors to trigger it :joy:

[2017-07-09 16:37] mpacer commented on #304
Looks good.

[2017-07-09 16:37] #304 closed

[2017-07-09 16:38] #301 closed

[2017-07-11 23:29] mpacer opened #308 "No easy way to test if all PRs work using make commands before merging PRs"
Right now you would need to either separately pull in and locally merge all of the PRs to the default branch in order to be able to test whether the `make` commands (e.g., `make proceedings-html`) work.

This is inconvenient and makes consistent debugging and testing of those features challenging.

We can probably address this by having a utility that will pull down the relevant branches to a new

[2017-07-12 00:20] mpacer opened #310 "Additional dependencies for building the proceedings"
There are unmentioned dependencies if you want to build the full proceedings (including `proceedings-html`).

Specifically you need both:

- `convert`, which is a script from `imagemagick`
- `recode`

Both are available on `apt-get` and `brew`.

[2017-07-12 00:37] mpacer opened #311 "Document use of status.sty"
This is what adds the DRAFT watermark to each page. This should be documented. especially to distinguish between different statuses.

Notably I will be introducing the Conference Ready status (with a different opacity level and different text), which avoids the self-contradiction of calling them camera ready, which will be the final step after the videos are completed and we're all good to go.

[2017-07-12 00:40] mpacer opened #312 "Document location and use of logo.png"
In order to build the final proceedings requires getting the logo. It should be placed in logo.png. This should be documented somewhere (along with many other things).

[2017-07-12 00:45] mpacer opened #313 "Currently, there is no global `proc-scipy-20*` built or placed under the bib directory"
Inside the html template, there are links to (for 2017) `./bib/proc-scipy-2017`. This is not a valid address because we don't create a global bib file.

Note, most of the existing scipy proceedings websites have this link and it's just broken:

http://conference.scipy.org/proceedings/scipy2010/bib/proc-scipy-2010
http://conference.scipy.org/proceedings/scipy2011/bib/proc-scipy-2011
http://conferen

[2017-07-13 05:06] mpacer opened #315 "Invalid scipy_proc.json does not raise an invalid json error"
If you write an invalid json file, it should raise an error when it is read in.

Currently if you include an invalid json file, e.g.:

[code]

(note the absence of an opening `{` before the element `"name": Proceedings Reviewers",` )

then running any of the make commands raises an error that has nothing to do with reading the json in. It just raises an error that the top level key that is being l

[2017-07-13 15:59] narendramukherjee opened #316 "The 2017 proceedings reported as 15th scipy in both the PDF and bib entry"
@mpacer @katyhuff @dalippa @deniederhut

Just wanted to bring to your notice that the papers in this year's proceedings are being shown as part of the 15th Scipy proceedings (and not 16th) in both the PDF and the bibtex entry. Is this correct/can this be fixed?

Thanks!

[2017-07-13 16:28] deniederhut commented on #316
Whoops! Good catch. PR incoming.

[2017-07-15 12:44] #316 closed

[2017-07-17 20:13] orbeckst opened #319 "Scipy 2017 papers contain "Proc of *15th* Python in Science Conf""
I had a quick look at the papers on http://conference.scipy.org/proceedings/scipy2017/ and in their header they claim to be from the **15th** Python in Science Conference whereas http://conference.scipy.org/proceedings/ says that this was the **16th**.

I don't know if you knew about it but I wanted to mention it just in case.

Thanks for all your hard work putting it together, looks really good!

[2017-07-17 23:56] mpacer commented on #319
This was taken care of in the build process by #317.

[2017-07-17 23:56] #319 closed

[2017-07-17 23:56] mpacer commented on #319
We still need to update the site though, but that'll wait until we have the full list of video links, which I believe are still coming in (for those papers that have video links).

[2017-07-17 23:59] mpacer opened #321 "Get images/scans link to in lieu of the video link for posters"
We can't do this for this year's paper, but for those papers associated with posters, it doesn't really make sense to link to a video (as there is no video of the presentation.

However, it would be nice to link to the static version of the poster.

Usually in order to be printed there needed to be a pdf or postscript file (that we can convert to a pdf). We can probably get those pdf versions of t

[2017-07-18 16:35] dalippa commented on #321
Why not put them in github? It would be good for future poster authors to
see what past accepted posters looked like...

On Mon, Jul 17, 2017 at 19:22 M Pacer <notifications@github.com> wrote:

--
Please forgive any typos since iSent this message from my iPad.

[2017-08-10 00:18] mpacer opened #324 "Decision needed: Videos that are not from SciPy & the video link"
@dalippa @deniederhut @katyhuff  We should decide whether it is ok for papers that were written and presented as posters to have a video link that links to another video presentation (specifically one that was not presented at SciPy).

For example, see [this paper](https://github.com/scipy-conference/scipy_proceedings/blame/2017/papers/ingo_heimbach/paper.rst#L78).

[2017-08-10 00:51] katyhuff commented on #324
Hm... I think no...because that's confusing. Perhaps in some cases it might
not be confusing... but I think it generally would be.

On Wed, Aug 9, 2017 at 7:18 PM, M Pacer <notifications@github.com> wrote:

--
http://katyhuff.github.com

[2017-08-10 01:01] mpacer commented on #324
@katyhuff That was my intuition too which is why I remove such links in #325

[2017-08-10 14:59] deniederhut commented on #324
I agree with Katy's assessment. Thanks for looping me in!

[2017-08-21 08:39] #324 closed

[2017-08-28 20:31] stsievert opened #327 "Incorrect link for scipy 2017 paper"
In #318 I modified the link shown at the top of the paper to link to the YouTube video, but it hasn't updated on the PDF. Could we run the build script again to update that link?

Thanks.

[2017-11-14 15:30] deniederhut opened #331 "Modify DOI to include ISSN"
As of today, the scipy proceedings have been granted the ISSN number 2575-9752. DOI generation should be modified to follow the guidelines found at:

- [issn.org](http://www.issn.org/understanding-the-issn/issn-uses/use-of-issn-in-doi/)
- [crossref.org](https://support.crossref.org/hc/en-us/articles/214569903-Journal-level-DOIs)

[2017-12-15 16:50] deniederhut opened #332 "ENH: publish DOIs and ISSN"
To make the unique identifiers for the conference, proceedings, and individual papers easier to find, we may want to include them on the SciPy website. A reasonable strategy might be:

1. Include paper DOIs in bibfile and html page
2. Include proceedings DOI and conference ISSN at http://conference.scipy.org/proceedings/scipy2017/
3. Include conference DOI and ISSN at conference.scipy.org (this wi

[2018-02-23 00:07] mpacer opened #334 "Improve documentation for running the proceedings"
This is an issue to organise outstanding issues around documenting how to run the proceedings

- [ ] Mention that procbuild will only pull PRs prefixed with the characters "Paper:"

[2018-02-27 05:07] mpacer opened #338 "Isolate make toc functionality for reuse"
`build_html.py` will fail if the table of contents has not yet been created, meaning it is implicitly dependent on `build_papers.py`. This means that if you `make clean`, you cannot `make html` before you `make papers` which seems… odd.

The table of contents can probably be made without running building the rest of the proceedings. We should isolate the toc making functionality and create it when

[2018-03-03 21:45] mpacer opened #339 "Update templates to use jinja instead of tempita"
I think it'd be nicer if we used a more modern templating system. Jinja2 is what we use in a lot of the jupyter projects and it works pretty well. I've seen it used pretty widely as well.

It would also mean that we could have a templating system that had a bit more in the way of documentation & support without us needing to create that documentation.

I think it would also allow us to get around

[2018-03-03 21:47] mpacer opened #340 "Package publisher more completely"
I think it would be nicer if we used a more traditional package/subpackage structure to organise the publisher rather than a collections of scripts that sort of work as modules.

Not only will it make this functionality more portable, I think it'll make the logic flow easier to follow as currently a lot of stuff happens at the global scope of these scripts that doesn't need to happen in the global

[2018-03-03 21:49] mpacer opened #341 "Better testing: refactoring large scripts into more modular functions"
We don't have much in the way of unittests for existing functionality. It makes it hard to make improvements without being afraid of breaking things.

Breaking up the functionality from these gigantic scripts into collections of more self-contained functions would be a good first step as those functions could then be tested separately.

[2018-03-04 02:21] mbeyeler commented on #332
^ I second that. It would also be nice if the DOI showed up in the rendered PDF of the paper.

[2018-03-04 02:22] mbeyeler opened #342 "Remove watermark from published PDF"
Would it be possible to remove the "Conference ready" watermarks in the published PDFs? It makes the product look unfinished.

[2018-03-04 02:22] mbeyeler opened #343 "Fix running title of SciPy 2017 papers"
The 2017 PDFs still say "Proc of the 15th" conference, but SciPy 2017 was the 16th conference.

[2018-03-08 01:14] mpacer opened #344 "update publisher/README to reflect how proceedings is actually built"
The proceedings.tex is built as part of the make command `make proceedings` not as part of build_papers.py this should be clarified.

[2018-03-08 03:08] mpacer opened #345 "Recent update broke the build system: page_numbers.tex is not being built"
Most of the content is in the title, but in going through this with @FatihAkici I discovered that the recent change to the build system (#337) assumed that the page_numbers.tex already existed.

If it doesn't exist then none of this works, so we'll need to make sure that page_numbers.tex are included if they are going to be needed.

[2018-03-09 13:15] deniederhut opened #347 "BUG: tex commands sneaking into html <p>"
In building the html version of the proceedings, some of the tex commands seem to be passing through the escaping/replacing mechanism. Test case is in `_build/html/scott_sievert.html` which currently produces an html abstract that includes:

[2018-03-10 04:37] mpacer opened #349 "DUrole fallthrough removed in docutils 0.14, causes inline code to fail in captions"
For "custom" roles that are not explicitly defined, when they are hit inside of a protected context (like in a caption, for example) LaTeX will err because it hasn't been explicitly defined.

[code]

It used to fallback on passing through the relevant value.
[code]

This is why
[code]

inside of a caption for a classed figure, like

[code]

will cause our builds to fail when using `docutils` 0.14.

[2018-03-10 04:39] mpacer opened #350 "Weird parsing happening inside inline role declarations inside of captions"
In addition to the weirdness happening re: docutils 0.14 discussed in #349, there's additional weirdness going on in both docutils 0.12 and docutils 0.14 related to code in captions.

Specifically, if you have

[code]

inside of a caption for a nonclassed figure:

[code]

It instead is transformed into a call to `\DUroletitlereference` prefixed by the characters `:code:` rather than `DUrole{code}`

[2018-03-10 19:45] deniederhut opened #352 "Should we persist proceedings in a third party archive?"
I know very little about this, but prima facie it seems wise to have the proceedings hosted in more than one location for longevity. Question prompted by this note deep in the xml metadata schema that allows us to associate one or more of the following archive services with our DOIs:

[2018-03-11 20:36] mpacer opened #353 "Improve scipyproc.json to have newlines and indentation"
Right now the json that is output by the proceedings server is all dumped into a single line. This is even more difficult for humans to parse than json normally is.

@FatihAkici Could you take a look at where the json is being `dump`ed to the file system? We should be able to improve that function

@deniederhut pointed out that this should be fairly straightforward given the `json.dump` docs: http

[2018-03-11 22:17] mpacer opened #355 "ORCID support"
We should have some way for authors to designate themselves with an ORCID that we link to in the pdf and the html, this will require changing the templates as well as the information that we extract from the rst's header.

@FatihAkici This is a more complicated feature to implement than in #353, so you should tackle that one first. Completing this should give you a better idea about the templating

[2018-03-11 22:27] mpacer commented on #332
@FatihAkici This will be similar to #355 in editing the templates and connecting it to metadata, however, it will likely be easier to address since we are creating the metadata in question. However, we have issues with when the data is being created (see below)

Right now doi information is only being constructed in `build_papers.py`. Is there a way that we could instead construct it on a per pape

[2018-03-11 22:45] deniederhut opened #356 "ENH: add DOIs to test_paper citations for authors to emulate"

[2018-03-12 21:16] mpacer commented on #356
I got this with #354

[2018-03-14 02:18] deniederhut commented on #332
Sure thing, M! The paper DOI's get built from the info in [scipy_proc.json](https://github.com/scipy-conference/scipy_proceedings/blob/82253931a114463b31856f93169b5a65553eae3a/scipy_proc.json#L3) and three pieces of information that are intended to tie the DOI to the environment where the paper was originally built. These are:

1. The name of the machine building the proceedings; and,
2. The short

[2018-03-14 03:47] deniederhut commented on #299
[This might be the best available reference](https://github.com/zotero/translators/blob/b76abc351e5d6c88f09b8159b532cb4415700458/Embedded%20Metadata.js#L40) -- I haven't been able to find anything from google scholar or highwire.

[2018-03-18 01:17] deniederhut commented on #332
We should also add this in the html metadata tags  in `publisher/_templates/header.html.tmpl` so it is easier for google scholar to pick up. It would look something close to `<meta name="citation_doi" content="{{article['doi']}}"`.

[2018-03-18 01:18] deniederhut commented on #332
Oh, and also in `_templates/article.bib.tmpl`.

[2018-03-18 05:11] #331 closed

[2018-03-18 05:17] #299 closed

[2018-03-18 05:20] mpacer commented on #332
If we create the dois after the papers are built, we can't include the dois in the papers themselves. We could include them in the html, but not the pdfs themselves.

[2018-03-18 05:21] mpacer commented on #332
What made it easier to do it afterward? Was it adding the dois to an existing json file as opposed to constructing it all at once? or is there some way in which the whole collection of papers plays into the way that dois are generated?

[2018-03-18 19:58] mpacer opened #359 "Move to python3 only"
We should plan the shift to using python3 only.

We definitely should still support 3.4+ until the [end of its life in March 2019](https://devguide.python.org/#status-of-python-branches), so this is more about dropping support for python 2.7.

Perhaps this issue can act as a place for todos about what can improve once we make this transition.

[2018-03-25 19:47] mpacer opened #361 "Support binder links in papers"
@FatihAkici

[2018-03-25 19:48] mpacer commented on #359
We should change the docs to represent this @FatihAkici

[2018-04-17 20:13] deniederhut commented on #356
Looks like this was closed in 217b36c78957b5a2ada7f03dc68526c50edf6a33

[2018-04-17 20:13] #356 closed

[2018-04-27 01:43] #353 closed

[2018-04-29 14:16] deniederhut commented on #352
The decision here was "not yet".  Closing.

[2018-04-29 14:16] #352 closed

[2018-05-01 19:12] choldgraf opened #374 "Is it OK to have an author that isn't a "real person"?"
The Jupyter project is writing up an article on Binder/BinderHub. The Jupyter [authorship guidelines](https://github.com/jupyter/governance/blob/master/papers.md#author-ordering) use "Project Jupyter" as the first author. Is this OK for SciPy?

[2018-05-02 12:09] deniederhut commented on #374
Interesting question. I'm in favor of letting the Jupyter team list their own authors however they feel is equitable, although I will note that I haven't seen project authorship done quite this way before. My recollection is that papers either list the project as:

1. The sole author (e.g. The R Core Team); or,
2. The affiliation of a giant list of authors (I think the connectome project does it t

[2018-05-03 18:36] eseiver commented on #374
Group authorship is definitely a thing, provided for in section two of ICMJE guidelines [here](http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html#two).

Do you have the notion of a corresponding author for the proceedings? If so, that person generally has to be a person with an ORCID. For group authorship, it can be the senior

[2018-05-04 11:41] deniederhut commented on #374
Yes very helpful -- thanks for the expert advice!

I'm going to propose that we permit papers to include their team or project name as first author, with the request that the corresponding author for a paper be a person and not the whole project (this will simplify communication on our end).

Chris, does this sound okay to you?

@dalippa , any objections?

[2018-05-04 22:56] choldgraf commented on #374
that seems reasonable to me!

[2018-05-04 22:59] dalippa commented on #374
I’m good with that.

Please excuse any typos since iSent this from my iPhone

On May 4, 2018, at 06:41, Dillon Niederhut <notifications@github.com> wrote:

Yes very helpful -- thanks for the expert advice!

I'm going to propose that we permit papers to include their team or project name as first author, with the request that the corresponding author for a paper be a person and not the whole projec

[2018-05-05 16:04] deniederhut commented on #374
Therefore be it resolved

[2018-05-05 16:04] #374 closed, assigned to nobody

[2018-05-05 16:05] deniederhut opened #375 "Update instructions-for-authors to include "who can be an author""
[Instructions for authors](https://github.com/scipy-conference/scipy_proceedings#instructions-for-authors) should be updated to include information on group authorship. Specifically, to inform authors that we:

1. Allow projects to be listed as authors; and,
2. The project can be the sole author, first author, or affiliation of the authors; however,
3. The corresponding author email must belong to

[2018-05-11 18:39] choldgraf opened #378 "Is the build machine meant for prototyping draft builds?"
Or is it meant only for uploading the "final" build?

The reason I ask is that if it's *not* meant for prototyping builds, maybe there would be value in making a Binder repo that serves an environment with latex etc installed and lets them demo the build there. Installing latex can be a beast sometimes so maybe this would save some people a bit of time. Just an idea!

[2018-05-13 01:07] deniederhut commented on #378
Hi Chris! It is there for letting you see how your paper builds on our machinery (which I believe is what you mean by "prototyping draft builds").

[2018-05-13 01:43] choldgraf commented on #378
cool - just want to make sure that it's OK to use it to, e.g., build upwards of 20 times in a row as I try to figure out what kind of formatting errors I have in my paper? :-)

[2018-05-13 01:56] deniederhut commented on #378
Lol yes you may build to your heart's content.

On Sat, May 12, 2018, 20:43 Chris Holdgraf <notifications@github.com> wrote:

[2018-05-13 03:26] choldgraf commented on #378
just wanted to make sure :-)

[2018-05-13 03:26] #378 closed, assigned to nobody

[2018-05-13 20:03] mpacer opened #381 "Modify PR policies to reflect need to merge 2018 back into dev"
If people have PRs that start out against 2018 and switched to be pulled into dev, they will include the merge commits from dev to 2018, which looks odd.

We should make it part of our procedure to merge 2018 back into dev so the merge from dev to 2018 is included in master.

I don't know another way to do this without asking people to rebase their branches onto dev.

So we should update the instr

[2018-05-20 01:32] deniederhut commented on #332
This was closed in #371

[2018-05-20 01:32] #332 closed

[2018-05-24 02:37] mpacer opened #412 "Deprecate support for manually formatted references sections"
I would prefer people to use bibfiles rather than the current custom references section where we have little consistency in how the references are styled. This will be a similar policy to how we approach custom LaTeX (where in exceptional circumstances we allow it, but the case needs to explicitly be made).

The plan I'm proposing is:

**for this year**:
- We allow manual references but discourage

[2018-05-24 03:18] deniederhut commented on #412
The submission deadline is hours away. It feels a bit late to be making policy changes for this year.

[2018-05-24 03:20] mpacer commented on #412
@deniederhut That is only the initial submission deadline. I'm not suggesting that people will have needed to do this by now, but that I will be encouraging them to move to a bibfile in my comments on their papers. I just wanted to register my intentions in this regard here to have the discussion.

[2018-05-24 03:23] mpacer commented on #375
I think that there should be able to be more than one corresponding author (as suggested by @eseiver) but our current build server does not support this well. I'll open an issue about this separately, but I want to modify 3 to read "The corresponding author(s) email(s) must belong to specific people."

[2018-05-24 03:31] mpacer opened #414 "Multiple corresponding authors"
Right now it seems that if we have more than one author listed as "corresponding author" then it includes a new entry in the footnote for each of those authors. As @eseiver noted on #374 corresponding authors can be multiple authors, however we should not allow non-person authors to list themselves as corresponding authors.

[2018-05-27 19:32] deniederhut commented on #414
👍

[2018-05-28 16:16] jzf2101 opened #419 "latex support?"
It would be nice to be able to have the option to submit the paper in LaTeX directly since we're considering moving to bibTeX anyway #163 #412

[2018-05-29 23:12] llorracc commented on #419
YES.  My team has probably spent a collective 10 hours figuring out how to convert to RST, which is NOT the native language for scientific papers.  Then we realized that it converts the RST back to a LaTeX document, which is what we were converting from!

Much more efficient would just to have provided a LaTeX template for us to fill in.

[2018-05-29 23:53] deniederhut commented on #419
Thanks for the feedback! I wasn't around when this system was first built, but I think the motivation behind using restructured text was to reduce the barrier to entry for new authors. If you are someone who doesn't already know latex, the prospect can be a little daunting.

I share your frustration (those tables!) and it's something we'll look into for the next development cycle.

[2018-05-30 06:49] llorracc commented on #419
The unfortunate thing is that, in making the use of RST mandatory, you massively INCREASED the barriers to entry for people who DID know how to use LaTeX -- which is most scientists.  One of my team members actually proposed that we give up and not submit because after spending many hours on it none of us had the spare time to push the project over the finish line.  Finally three team members foun

[2018-05-30 12:32] jzf2101 commented on #419
Our team had a similar experience @llorracc .  A number of us knew LaTeX well and struggled to do things we knew how to do- notably citations.  A big challenge for us was to debug the LaTeX and errors through the rst- since we didn't always know how those errors were being generated.

[2018-06-19 20:25] choldgraf commented on #419
My intuition is that this is definitely not true, and there seems to be some data to back it up. E.g., latex use is [*highly* field-dependent](https://www.authorea.com/users/3/articles/107393-how-many-scholarly-articles-are-written-in-latex/_show_article):

![image](https://user-images.githubusercontent.com/1839645/41622315-0ef2efec-73c4-11e8-9f3e-6d539a34d22e.png)

I'm +1 on allowing for a direct

[2018-06-19 20:27] choldgraf opened #422 "Clean out the target `output` folder before building a new PDF"
I've had a few gotcha moments where I was getting really cryptic errors, and it turned out to be because there was some cruft left over from a previous version of a paper build.

Would it be possible for `make_paper.sh` to clean out the output folder before building anything?

[2018-06-19 21:15] jzf2101 commented on #419
To clarify, I'm not asking LaTeX only, just for LaTeX as an option.

[2018-06-19 22:36] deniederhut commented on #422
There is a `clean` directive in the Makefile that I think will do what you want. Or were you asking if we could have `make paper` always clean the build dir first?

[2018-06-19 23:33] choldgraf commented on #422
yep, this one. Is there any reason not to do this?

[2018-07-03 23:36] deniederhut commented on #343
This was fixed... probably back in a588d613028755e6701ca0abe18d498d49e2947a but it looks like it didn't make it to deployment. In any case headers for 2017 look like this now:

<img width="548" alt="screenshot 2018-07-03 18 32 21" src="https://user-images.githubusercontent.com/6868396/42249232-e3ac5828-7eef-11e8-85ce-4733061de528.png">

So I'm closing this as fixed.

[2018-07-03 23:36] #343 closed

[2018-07-03 23:36] deniederhut commented on #342
Also closing as fixed

[2018-07-03 23:36] #342 closed

[2018-07-03 23:59] deniederhut opened #425 "VCS: we should add more ignored paths to .gitignore"
It's missing some painful things like `.DS_Store`and `.ipynb_checkpoints`.

[2018-07-11 21:03] deniederhut opened #428 "WEB: header image doesn't scale properly"
The header image for http://conference.scipy.org/proceedings/scipy2018/ isn't scaling properly on mobile, and I believe also not on non-Chrome desktop:

![screenshot_20180705-121013](https://user-images.githubusercontent.com/6868396/42599100-d2bdf14a-8523-11e8-99b1-c0f8fd5d9d83.png)

I imagine this is an issue with the CSS that we are serving.

[2018-07-14 21:14] deniederhut opened #429 "Consider submitting articles to Scopus"
We've had one author request that we submit our content to be indexed by Scopus, to aid their paper's visibility in their field (medical). It looks like we can request for SciPy to be reviewed for inclusion by their editorial board [here](https://suggestor.step.scopus.com/suggestTitle/step1.cfm), with two caveats:

1. We first need an ethics and a malpractice statement (which is fine); and
2. Scop

[2018-07-14 22:33] labarba commented on #429
The chances of Scopus indexing SciPy Proceedings are slim.

[2018-07-25 22:12] jackiekazil opened #430 "Paper doesn't show up on site"
This paper was merged -- https://github.com/scipy-conference/scipy_proceedings/pull/420, but doesn't show up here: http://conference.scipy.org/proceedings/scipy2018/

[2018-07-26 03:43] deniederhut commented on #430
Yup. The papers on the conference site are the papers that were ready by the deadline. When we publish the finalized proceedings, all of the papers will be up there. We're just one waiting on one reviewer to sign off on the last paper.

[2018-07-26 03:43] #430 closed, assigned to nobody

[2018-07-26 03:47] jackiekazil commented on #430
Got it. Thank you!

On Wed, Jul 25, 2018 at 11:43 PM Dillon Niederhut <notifications@github.com>
wrote:

--
Jacqueline Kazil | @jackiekazil

[2018-10-11 20:31] jzf2101 commented on #419
I would disagree with @choldgraf though on building on top of rST- our group struggled with getting LaTeX do do what we wanted without being able to explicitly write the LaTeX itself.  It would be easier if we could submit the raw LaTeX and not have it compile to rST and back to LaTeX for the final build.

[2018-10-12 19:22] choldgraf commented on #419
I'm all for supporting latex as well - was just saying that most people don't know latex. For those who *do* know latex, I can see how this is a better option than rst

[2018-10-13 07:13] jzf2101 commented on #419
Ah, I misunderstood you comment then.

[2018-12-15 18:18] sbenthall opened #438 "Bugs in rendering past proceedings"
Hello. I'm not sure where's the best place to file this issue, but there appears to be something wrong with the process of publishing the conference proceedings to the server.

The bug is exposed by the fact that these two links:

https://conference.scipy.org/proceedings/scipy2015/pdfs/sebastian_benthall.pdf
https://conference.scipy.org/proceedings/scipy2016/pdfs/sebastian_benthall.pdf

Point to t

[2019-01-12 12:41] MooersLab commented on #419
The on-line collaborative writing software [Overleaf](http://www.overleaf.com) and ShareLatex make it really easy for nonLaTeX users to prepare documents in LaTeX. Overleaf has several million users in diverse fields. I am aware that LaTeX is growing in popularity in the quantitative social sciences like economics and in finance. I am biochemist. I learned about Overleaf from my daughter who used

[2019-03-20 13:53] cbcunc commented on #425
Merged #447 into dev.

[2019-03-22 11:40] #422 closed, assigned to deniederhut

[2019-03-22 11:40] #425 closed, assigned to deniederhut

[2019-05-10 21:18] EdwardRaff opened #456 "Paper Authoring Questions re: Formatting & LaTeX packages"
We are getting our 2019 paper ready, and have some questions, as we have not used rst before. In particular, how to use tell what the current number of pages is of the paper to make sure we abide by the page limits and make sure things look right. We would be happy sticking with pure LaTeX through overleaf, which the rst seems to be compiled to, but we don't see any information on how to compile r

[2019-05-14 12:37] deniederhut commented on #456
Hey there! Yes, the papers start as rst and are compiled down to PDFs through docutils. During this process, a bunch of templating and styles are applied to make sure the submitted papers have a consistent appearance.

If you want to see what your paper will look like after it's been compiled, you can do this locally by [running `make_paper.sh`](https://github.com/scipy-conference/scipy_proceeding

[2019-05-14 12:38] deniederhut commented on #438
This should be fixed

[2019-05-14 12:38] #438 closed, assigned to nobody

[2019-05-14 12:39] deniederhut opened #457 "Update README for 2019"
The README still has the due dates and PR rules for the 2018 conference. This should be updated soon, as people are submitting papers now.

[2019-05-15 00:10] #457 closed, assigned to nobody

[2019-05-20 03:55] #456 closed, assigned to nobody

[2019-05-23 05:38] xtianmcd opened #480 "paper not building and permission denied re: git push"
Hi,

I am unable to use `git push` from the command line. I am met with this error: `remote: Permission to scipy-conference/scipy_proceedings.git denied to xtianmcd.
fatal: unable to access 'https://github.com/scipy-conference/scipy_proceedings/': The requested URL returned error: 403`, and I have to add the files through the website.

I believe there is a connection though, because when I ran `ma

[2019-05-23 16:07] deniederhut commented on #480
Yup, we won't let you write code directly to the scipy_proceesings repository because that could mess things up for everyone. You'll need to send code changes your own fork, open a pull request, and we'll review that pull request. You can see instructions here:

https://github.com/scipy-conference/scipy_proceedings#getting-a-local-copy-of-the-scipy_proceedings-repo

It's hard to know why you are s

[2019-05-23 16:09] xtianmcd commented on #480
Absolutely, thanks very much for your help. I'll respond to these points in the PR and will close this issue!

[2019-05-23 16:09] #480 closed, assigned to nobody

[2019-06-12 17:05] cbcunc opened #483 "Proceedings Style Guide"
Do the proceedings need a style guide to resolve questions of writing style and formatting? If so, what should it be?

[2019-07-10 03:54] deniederhut opened #486 "Proceedings bibliography entry missing extension"
There are no files at http://conference.scipy.org/proceedings/scipy2019/bib/proc-scipy-2019, which is what the 2019 index page currently lists as the location for the proceedings bibliography. The actual file is located at http://conference.scipy.org/proceedings/scipy2019/bib/proc-scipy-2019.bib

[2019-07-10 14:16] Teque5 opened #487 "DRAFT in official proceedings page!"
On the SciPy [official proceedings](http://conference.scipy.org/proceedings/scipy2019/) page, all the PDFs are still marked as DRAFT. This should be fixed ASAP since the conference is now ongoing and the URL is going out.

[2019-07-11 03:35] deniederhut commented on #487
Haha well they should still have a watermark, but that is not the correct watermark.

BTW @stsievert was interested in chatting with you about some of the work that you are doing, if you are available to chat Thursday

[2019-07-11 03:50] #487 closed, assigned to nobody

[2019-07-11 04:44] stsievert commented on #487
Copy. I’ll be around and try to connect with you.

[2019-07-13 12:57] deniederhut opened #492 "Remove 2019 papers from dev"
I made the mistake of fixing a merge conflict in the README between dev and 2019 directly in the GitHub UI (it looked so easy!) instead of doing it manually in git, which merged 2019 up into dev before merging dev down into 2019. As a result, all of the 2019 papers are now in the git history for the dev branch, and removing them or reverting the commit will also remove all the papers from 2019 sho

[2019-07-14 01:55] deniederhut commented on #483
Sorry for taking so long to reply to this.

Chris and I discussed this briefly away from GH, without a clear resolution. The current latex style creates IEEE style citations from .bib files, but that is as much as I know.

[2019-07-16 03:48] henrykironde opened #511 "Adopt a more defining info.json structure"
[code]

Ref : Current [sample info.json](https://github.com/scipy-conference/scipy_proceedings/blob/2019/presentations/posters/example/info.json)
Borrowed from [The Journal of Open Source Software](https://joss.theoj.org)
I could put in a PR if accepted

[2019-07-23 03:09] #486 closed, assigned to deniederhut

[2019-07-29 05:51] matthewfeickert opened #518 "BUG: Zenodo DOI for pyhf poster is wrong"
# Description

The Zenodo DOI for the pyhf poster (poster added in PR #502) is incorrectly entered in the [SciPy Zenodo entry for it](https://zenodo.org/record/3346186#.XT6FyHVKikA) though it is correctly given on [the proceedings page](http://conference.scipy.org/proceedings/scipy2019/slides.html). The DOI given [in the BibTeX](https://zenodo.org/record/3346186/export/hx#.XT6IKXVKikA) is [10.2508

[2019-08-01 00:25] deniederhut commented on #518
Ugh sorry. Will have this fixed this tonight.

[2019-08-01 00:57] matthewfeickert commented on #518
Nothing to be sorry about! This is a super easy mistake to make when our fingers decide they know what's best sometimes. :) Thanks for taking a look at this!

[2019-08-01 14:36] deniederhut commented on #518
Sure thing. Does it look okay now?

[2019-08-01 17:47] matthewfeickert commented on #518
LGTM! :rocket: Thanks very much for taking care of this so quickly!

[2019-08-01 17:47] #518 closed, assigned to nobody

[2019-08-22 19:23] stsievert opened #523 "Both first and last author names appear in references regardless of bibliography style"
`\bibliographystyle{abbrvnat}` has only shows the author's first initial and last name: https://www.overleaf.com/learn/latex/Natbib_bibliography_styles

However, even if I select this bibliography style, both author names are always shown.

Here's a minimal working example:

[code]

[code]

Output:
<img width="518" alt="Screen Shot 2019-08-22 at 2 19 20 PM" src="https://user-images.githubuserconte

[2019-08-22 19:25] stsievert commented on #523
The references also look significantly different when `[square, numbers]` isn't passed to natbib:
<img width="522" alt="Screen Shot 2019-08-22 at 2 25 05 PM" src="https://user-images.githubusercontent.com/1320475/63543552-9ddb7800-c512-11e9-9215-d7d5cfc4c0f1.png">

[2019-08-22 19:29] stsievert commented on #523
The braces in the Bibtex file are causing this.

If I change the `refs.bib` file to remove the braces in the `author` field, I get the correct output:
<img width="510" alt="Screen Shot 2019-08-22 at 2 26 27 PM" src="https://user-images.githubusercontent.com/1320475/63543763-0f1b2b00-c513-11e9-8b03-446057b098ad.png">

The changes I made were in `refs.bib` and are

[code]

[2020-01-15 04:06] #492 closed, assigned to deniederhut

[2020-01-15 04:17] deniederhut commented on #302
Closed in https://github.com/scipy-conference/scipy_proceedings/pull/364

[2020-01-15 04:17] #302 closed

[2020-01-16 01:37] deniederhut commented on #70
Hi everyone! It looks to me like this issue has been resolved. Does anyone object to closing this ticket?

[2020-01-16 02:04] deniederhut commented on #237
Hi everyone! We currently publish the proceedings with DOI, and have started archiving slides and posters with Zenodo. Are we okay with closing this ticket?

[2020-01-16 02:06] deniederhut commented on #242
Hi everyone! I don't know about any services that do archiving of videos. Do you have something to recommend?

[2020-01-16 02:06] deniederhut commented on #245
Hi everyone! Are we okay with me closing this as a failure to replicate?

[2020-01-16 02:08] deniederhut commented on #247
Hi everyone! Are there remaining action items on this ticket?

[2020-01-16 02:13] deniederhut commented on #327
Looks like the video link is now correct - closing

[2020-01-16 02:13] #327 closed

[2020-01-16 02:15] deniederhut commented on #381
I'm not sure this is a problem any more. Closing unless you have objections.

[2020-01-16 02:15] #381 closed, assigned to nobody

[2020-01-16 02:16] deniederhut opened #524 "Can we support papers submitted in markdown?"
Kyle Niemeyer suggested that we consider accepting papers written in markdown, to lower the barrier of entry for people who only write restructured text once a year, which is the time they are submitting papers to SciPy. Can we learn from JOSS's publishing model and support papers in markdown?

[2020-01-16 02:20] deniederhut opened #525 "Update README and scipy_proc.json for 2020 conference"
The dates of the conference and deadlines will need to be updated everywhere. In scipy_proc.json, we can update the conference chair names and affiliations, the conference titles, and the volume number. Everything else will need to wait until after the conference.

[2020-01-17 22:45] deniederhut commented on #359
I believe (really hope) that we have already purged ourselves of Python 2 things. It would be good to check this to be certain.

[2020-01-21 03:18] deniederhut opened #526 "Republish 2019 proceedings with slides submitted after deadline"
We had two sets of slide decks come in after the deadline:

- https://github.com/scipy-conference/scipy_proceedings/pull/520
- https://github.com/scipy-conference/scipy_proceedings/pull/521

that we should put on the website and archive with Zenodo. The html page generation should work just fine, but the DOI assignment, metadata generation, and archiving will need to be done by hand.

[2020-01-21 03:26] deniederhut commented on #523
🤔

I'm guessing from the commit history that bibtex was messing with the capitalization of people's names, but this was a bit before my time. @stefanv do remember the context around https://github.com/scipy-conference/scipy_proceedings/commit/8e6a9960f0e2214dd59a46aa4f604bbbee6c7ad9?

[2020-01-29 12:29] deniederhut commented on #526
@stsievert @astrofrog these should be up now

[2020-01-29 12:29] #526 closed, assigned to deniederhut

[2020-01-29 13:59] stsievert commented on #526
Thanks @deniederhut!

[2020-02-22 17:48] deniederhut commented on #525
Closed in ce1689f706ed6c1bd19a6ba24803c1578e945483

[2020-02-22 17:48] #525 closed, assigned to mepa

[2020-02-22 18:07] deniederhut commented on #334
Currently in the root README -- closing

[2020-02-22 18:07] #334 closed

[2020-04-14 12:40] #344 closed

[2020-04-14 12:40] #375 closed, assigned to deniederhut

[2020-04-17 22:40] #70 closed

[2020-04-17 22:41] #237 closed

[2020-04-17 22:42] deniederhut commented on #242
Then let's close for now - we can reopen if there is a way to move this forward.

[2020-04-17 22:42] #242 closed

[2020-04-17 22:42] #247 closed

[2020-04-17 22:42] #245 closed

[2020-04-21 18:18] mepa opened #534 "Pin the version of docutils"
Pin the version of `docutils` in `requirements.txt` to `0.14`.

**Context**
The current `requirements.txt` specifies `docutils >= 0.14` which, at the current time, installs `docutils==0.16`.

When building a paper
[code]
I see the error
[code]

The error is due to a change in `get_opening` of the class `Table` between `docutils==0.14` and `docutils>0.14` (i.e., `0.15`, `0.16`).

The short-term fix

[2020-04-28 17:23] rkube opened #535 "Error compiling rst to tex with tables"
Hi,
I'm trying to write a paper using your template. When I include this fragment from the examples in my code
[code]
I'm receiving this error message. I don't understand the error, since I copied the code directly from the example. Any clues?

[code]

[2020-04-28 17:42] rkube opened #536 "Example papers don't compile"
Hi,
the example papers don't compile on my system:

[code]

And
[code]

These are my packages with version numbers:
[code]

Any ideas?

[2020-04-28 18:36] rkube opened #537 "Citations not working in rst"
I'm adding my references into the rst as described in this example:
https://github.com/scipy-conference/scipy_proceedings/blob/2020/papers/00_bibderwalt/00_bibderwalt.rst

[code]

The output in the latex file is
[code]
There is no reference section in the resulting pdf.
How can I get this working?

[2020-04-28 19:29] mepa commented on #535
Hi @rkube. Thanks for posting this. I recently ran in to the same and logged the issue and a solution here: https://github.com/scipy-conference/scipy_proceedings/issues/534.

For now please `pip install docutils==0.14`. I'll also submit an MR to pin the version in requirements.txt.

[2020-04-28 19:29] #535 closed, assigned to nobody

[2020-04-28 19:31] mepa commented on #536
@rkube, this is the same issue found in https://github.com/scipy-conference/scipy_proceedings/issues/535. Please pin your `docutils` version to `0.14`, then try again and post back here whether that fixed it!

[2020-04-28 19:33] rkube commented on #536
Thanks @mepa  the example papers compile fine with docutils==0.14.

[2020-04-28 19:33] #536 closed, assigned to nobody

[2020-04-28 19:52] mepa commented on #536
Great, thanks for posting back. I've submit PR https://github.com/scipy-conference/scipy_proceedings/pull/538 to ensure others don't hit this.
Closing the issue.

[2020-04-29 12:27] deniederhut commented on #534
Closed in c9b89633a50a06da7dbb6dc97733803380efd0a0

[2020-04-29 12:27] #534 closed, assigned to mepa

[2020-04-29 12:30] deniederhut commented on #537
Hi! I'll need a bit more info to know what is breaking here. To start with, could I ask:

1. what are you typing in your terminal to build the paper?
2. have you defined a bibfile in the metadata at the top of your paper?

[2020-04-29 12:51] rkube commented on #537
Right. I'm using the make_paper.sh script and am not defining a bibfile. The references work fine in the rst.

[2020-04-30 04:24] deniederhut commented on #537
Your example builds for me locally -- to figure out what's going on, I'll need details about what you are doing.

Cool cool -- what are you typing into the terminal? As exact as possible please.

Could you copy and paste the metadata from the top of your rst file into this issue?

[2020-05-11 20:02] rkube commented on #537
I'm calling make_paper.sh like this
[code]

Somehow it's working now. Thanks for looking into it.

[2020-05-11 20:02] #537 closed, assigned to nobody

[2020-05-18 18:30] summerswallow-whi opened #544 "tables don't work if they are all raw latex tables"
Due to the improper spacing, I've converted all my tables from rst tables to raw latex tables following the example given in `00_vanderwalt`. However, as soon as I delete the last of the rst tables, the make_paper.sh script breaks. The culprit I found is that `longtable` is not found. In comparing the difference in the source latex file, the `\usepackages('longtable')` is missing if an rst table i

[2020-05-18 20:14] sbenthall opened #545 "make_paper.sh failing with a lambda error?"
[code]

[2020-05-19 00:58] mepa commented on #545
Hi @sbenthall. What version of `docutils` are you using? If, e.g., `0.15` or `0.16`, please downgrade to `docutils==0.14` and try again.

Ref: https://github.com/scipy-conference/scipy_proceedings/issues/534

[2020-05-19 19:12] sbenthall commented on #545
I have docutils 0.14 installed.

However, if I delete all the tables, it removes the error. So may be related to #544 , #534

[2020-05-26 12:51] rkube opened #546 "Paper compilation process is to time consuming."
Hi,
I find myself using too much time debugging the paper compilation process. While RST works find, the error messages of the make_paper script are useless in finding the error. For example, I've just used more than 10 minutes to find what
[code]
means. This is after I've cut the paper file down to 322 lines.

I suggest that you use some time to make the submission process easier.

[2020-05-27 13:44] deniederhut commented on #544
Hi! Sorry I missed this issue - I've been watching the PRs page for new papers, not the issues page.

About this bug: when I remove all the rst tables from the 00_vanderwalt paper locally -- and leave only the latex one -- the paper compiles just fine.

Do you have an MRE that shows this failure? Or can you push a branch for me to look at?

[2020-05-27 13:46] deniederhut commented on #545
Hey Seb! It's hard to know what's going on without the source paper causing the failure. Do you have an MRE for this bug? Or could you open a PR with your paper?

[2020-05-27 13:50] deniederhut commented on #546
Sorry that you're frustrated! We're all volunteers here, so if you'd like to help us make the paper submission process easier you can always join the team!

[2020-05-27 13:57] rkube commented on #546
Thanks Dillon. One issue I'm using a lot of time on is to find the line where rst syntax errors occur. Do you have any pointers where I can look into that issue?

[2020-05-27 16:34] deniederhut commented on #546
So the tricky part here is that typically the errors occur after the code has been transpiled to latex. Maybe the easiest thing to do would be to track input line number is the docutils writer, whose class definition can be found here -> https://github.com/scipy-conference/scipy_proceedings/blob/3669cee309033ce98a846bf1471ae4ec5e463f22/publisher/writer/__init__.py#L27

[2020-05-27 18:10] summerswallow-whi commented on #544
I don't get the issue of the missing longtable now, but it can't find \toprule now. I'm not a LaTex guru and merely copied the format produced by make_paper.sh to retain the look and feel. Looks like with rst tables booktable is included but not included if you don't have rst tables.

I will be submitting a pull request tomorrow and can refer to it. I'll update this issue when I make it tomorrow.

[2020-05-27 22:50] deniederhut commented on #544
Haha I think only Knuth can call themselves a LaTeX guru! But I'm happy to help try to figure out what's wrong if you run into any more issues. I'm going to close this ticket, but please open a new one or mention one of the proceedings co-chairs in a comment on your PR if you run into more problems.

[2020-05-27 22:50] #544 closed, assigned to nobody

[2020-05-28 00:49] summerswallow-whi commented on #544
I've worked around the issue by including a small rst table, but `booktabs` is not loaded unless you have an rst table.

[2020-05-29 22:35] cshewmake2 commented on #545
I had the same issue. Downgrading docutils from 0.16 to 0.14 fixed it for me.
Python3.7, MacOS Mojave 10.14.6.

Strange that it happens still for yours with 0.14. Are you using the same python/pip for installing and running? If you call ./make_paper.sh, it'll call `python`, which may not be the same as `python3` (and its associated pip) depending on your setup.

Just guesses. Curious to hear what

[2020-05-29 22:48] andrewmkeller opened #561 "Build fails when :bibliography: mybib is included in the paper.rst"
I am trying to include a bib file in my paper, but when I go to compile I get

[code]

As soon as I remove the :bibliography: mybib, the paper build (without a bibliography). Any thoughts?

[2020-05-29 23:06] andrewmkeller commented on #561
I figured it out. The :bibliography: mybib tag need to be placed at the end of the author block. I was placing at the end of the paper.

[2020-05-29 23:06] #561 closed, assigned to nobody

[2020-05-30 22:00] deniederhut opened #572 "Add back README section on build system PRs"
Currently our README links to the [following subsection](https://github.com/scipy-conference/scipy_proceedings/blob/2020/creating-build-system-prs) on how to submit a PR for modifying the build system (as opposed to adding a paper). That subsection doesn't actually exist anymore, so the address returns a 404. We should add that section back for contributors who would like to submit improvements to

[2020-06-29 17:29] AntoineDujardin commented on #414
Right now, it seems that only one author is included.
Furthermore, the note is attached to the first author, whatever the actual corresponding author.
Can I have a non-first corresponding author?

[2020-07-01 13:25] rkube opened #576 "I'm still not seeing where nogil is imported."
I'm still not seeing where nogil is imported.

_Originally posted by @deniederhut in https://github.com/scipy-conference/scipy_proceedings/pull/560_

[2020-07-01 13:25] rkube commented on #576
nogil doesn't require any imports:
https://cython.readthedocs.io/en/latest/src/userguide/external_C_code.html

[2020-07-01 13:28] rkube opened #577 "That make sense. Could we say that explicitly? E.g. instead of "scientific discover", use "validate models for confined plasma" or "understand high energy plasmas"?"
That make sense. Could we say that explicitly? E.g. instead of "scientific discover", use "validate models for confined plasma" or "understand high energy plasmas"?

_Originally posted by @deniederhut in https://github.com/scipy-conference/scipy_proceedings/pull/560_

Scientific discovery is much broader than "validate models for confined plasmas", some measurements are for example used to develop

[2020-07-01 13:32] rkube opened #578 "I think you and I are looking at different tables. I mean this one:"
I think you and I are looking at different tables. I mean this one:

<img width="430" alt="Screenshot 2020-06-28 15 15 41" src="https://user-images.githubusercontent.com/6868396/85957368-73d4bc80-b952-11ea-96bb-95ca672990e8.png">

_Originally posted by @deniederhut in https://github.com/scipy-conference/scipy_proceedings/pull/560_

Fixed table width

[2020-07-02 11:48] deniederhut commented on #576
Hi! We don't usually file issues that copy comments made on PRs. That PR is the appropriate place to have this discussion.

[2020-07-02 11:48] #576 closed, assigned to nobody

[2020-07-02 11:48] deniederhut commented on #577
Hi! We don't usually file issues that copy comments made on PRs. That PR is the appropriate place to have this discussion.

[2020-07-02 11:48] #577 closed, assigned to nobody

[2020-07-02 11:48] deniederhut commented on #578
Hi! We don't usually file issues that copy comments made on PRs. That PR is the appropriate place to have this discussion.

[2020-07-02 11:48] #578 closed, assigned to nobody

[2020-07-10 14:55] sbenthall opened #588 "title field loses capitalization"
It looks like when the bibtex entries are rendered to the PDF, (upper and lower) case of the original entries are preserved in all fields _except_ the `title` entry, which lowers all cases except for the initial letter and any letters following select punctuation marks, like a colon.

This is odd.

[2020-07-10 21:48] sbenthall commented on #588
invalid.

[2020-07-10 21:48] #588 closed, assigned to nobody

[2020-07-27 16:46] matthewfeickert opened #602 "SciPy 2020 proceedings DOI mismatch"
Hi, it seems that there is a mismatch in the DOIs that are listed on the [Accepted Paper Slides page for SciPy 2020](http://conference.scipy.org/proceedings/scipy2020/slides.html) and on Zenodo. The DOI link for pyhf is

but that redirects to the Zenodo entry for "Molecular infrastructure for modeling viruses with pythonic-mediated packages: pyF4all". If you click on the DOI link on the pyF4all: [

[2020-07-27 23:20] deniederhut commented on #602
😬 let me take a look
ivan-marroquin <notifications@github.com> wrote:
“Hi, it seems that there is a mismatch in the DOIs that are listed on the Accepted Paper Slides page for SciPy 2020 and on Zenodo. The DOI link for pyhf is

“pyhf: a pure Python statistical fitting library with tensors and autograd, Matthew Feickert
 doi.org/10.25080/Majora-342d178e-022”

but that redirects to the Zenodo entry f

[2020-07-28 00:07] matthewfeickert commented on #602
Thanks @deniederhut &mdash; truly much appreciated. But this is obviously a low priority and a hard task (I'm trying to similarly get a large number of Zenodo DOIs for a conference at the moment).

[2020-07-29 00:04] deniederhut commented on #602
So it looks like it was only the display DOIs that got jumbled -- everything got registered okay. The conference website has already been fixed, but updating the entries in Zenodo will take a bit longer.

[2020-07-29 00:17] matthewfeickert commented on #602
Sounds good! As long as I can know that

[![DOI](https://zenodo.org/badge/DOI/10.25080/Majora-342d178e-023.svg)](https://doi.org/10.25080/Majora-342d178e-023)

should stay attached to `pyhf` then that's all the information I need for now. Thanks!

[2020-07-29 01:35] deniederhut commented on #602
Okay this should be fixed everywhere now. Please feel free to reopen if further issues.

[2020-07-29 01:35] #602 closed, assigned to nobody

[2020-08-02 19:09] mepa commented on #355
@stargaser, @deniederhut, should this issue be closed now that MR #532 has implemented the capability for authors to link their ORCID in the html? Or is this waiting on linking in the pdf also?

[2020-08-02 22:36] deniederhut commented on #355
Good question - I don't remember if there were links on the HTML renders or not.

Related question, was this also implemented for slides and posters? No one submitted an orcid with their slides, but that doesn't mean that it wasn't possible. 
ivan-marroquin <notifications@github.com> wrote:
“@stargaser, @deniederhut, should this issue be closed now that MR #532 has implemented the capability for a

[2020-08-03 15:46] stargaser commented on #355
For the papers, as I recall, we decided not to implement linking in the PDFs, and that a link on the HTML page for each paper was sufficient.

I don't know if the ORCID infrastructure will work for slides and posters.

[2020-08-03 23:25] deniederhut commented on #355
Okay so it sounds like there is still work to do on this ticket for the slides and posters.
ivan-marroquin <notifications@github.com> wrote:
“For the papers, as I recall, we decided not to implement linking in the PDFs, and that a link on the HTML page for each paper was sufficient.

I don't know if the ORCID infrastructure will work for slides and posters.”

—
You are receiving this because you w

[2020-12-25 22:56] #298 closed

[2021-03-16 00:09] stsievert commented on #545
I'm also running into the same issue ("TypeError: \<lambda\>() takes 0 positional arguments but 1 was given"). Running `pip install docutils==0.14` solved it for me (thanks to #534).

<details>
<summary>Full traceback </summary>

[code]

</details>

[2021-03-16 01:19] deniederhut commented on #545
😳 are you already compiling your 2021 paper?

[2021-05-17 16:43] ronikobrosly opened #616 "Not able to open remote branch to open PR and submit poster PDF"
Tried following the instructions on the README to open a PR and submit the draft of my poster presentation for SciPy 2021. I'm getting the following error:

[code]

Seems like I don't have rights to create a remote branch here? Any recommendations?

@deniederhut @stefanv @katyhuff

[2021-05-17 17:09] stefanv commented on #616
Hi @ronikobrosly,

I don't think this repository is used for posters, but maybe that changed recently @deniederhut?

To submit a paper, you should fork the repository, push a branch to your own fork, and then use the Github interface to make a Pull Request. See the Github documentation for more information.

[2021-05-17 17:12] ronikobrosly commented on #616
Oh in that case do you know which repo is used for posters? I've already published this work elsewhere, so won't be submitting one here.

[2021-05-17 21:59] stargaser commented on #616
Hi @ronikobrosly, thank you for getting in touch about your poster. We did start accepting poster PDFs relatively recently, within the past two years.

This is the correct repository for submitting your poster. The instructions could be clearer and need some updates. You will need to fork the repository, and create your own branch from the `2021` branch.

Posters are uploaded to Zenodo.org. The in

[2021-05-18 13:13] ronikobrosly commented on #616
Thanks @stargaser ! I'm about to open up the PR now.

[2021-05-18 13:16] ronikobrosly commented on #616
Ok [I opened the PR](https://github.com/scipy-conference/scipy_proceedings/pull/617). So at this point my submission is complete and I should wait for reviewers to comment? @stargaser

[2021-05-18 17:40] #616 closed, assigned to nobody

[2021-05-18 23:30] deniederhut commented on #616
Sorry to get here so late! @stargaser is correct, we do accept and publish posters (and slide decks), but typically wait until the conference is in session to solicit submissions. Poster submissions do not go through a review process, and are archived "as-is".

[2021-05-25 02:56] tgmattso commented on #419
Please ... can't we agree to take LATEX source this year?   Converting my existing Latex paper to a new formating system serves no purpose.  Why are you doing this to us?  This is definitely making me question why I have chosen to bring my work to SciPy.   Please ... change this policy.  Latex is heavily used in many communities.  It should be a choice for SciPy authors.

[2021-05-26 02:46] deniederhut commented on #545
Closing as fixed

[2021-05-26 02:46] #545 closed, assigned to nobody

[2021-05-26 02:48] #359 closed

[2021-06-05 03:24] summerswallow-whi opened #642 "Is it too late to submit?"
@mepa, @cbcunc, @deniederhut, @stargaser.
I never received a follow-up email to my submission 111. As such I lost track of the deadline and only checked today. If you will still accept a first draft submission, I can probably have a submission by Tuesday. Suffice it to say, I don't want to dedicate the time if it is too late. Please let me know ASAP especially if you will accept it so I can work o

[2021-06-12 01:20] deniederhut commented on #642
Closed -- see https://github.com/scipy-conference/scipy_proceedings/pull/643

[2021-06-12 01:20] #642 closed, assigned to nobody

[2022-02-17 12:03] deniederhut opened #669 "make new branch in scipy-proceedings for 2022 and switching the main branch from 2021 to 2022"

[2022-02-17 12:03] deniederhut opened #670 "update README in scipy-proceedings with dates from 2022 calendar"

[2022-02-17 12:04] deniederhut opened #671 "update scipy-proc.json with 2022 conference dates, names, etc."

[2022-02-17 12:05] deniederhut opened #672 "make new branch in scipy-proceedings-test for 2022"

[2022-02-17 12:06] deniederhut commented on #669
We'll need this change before we can merge and close https://github.com/scipy-conference/procbuild/pull/57/files

[2022-02-17 12:07] #355 closed

[2022-03-11 22:06] #670 closed, assigned to mepa

[2022-03-11 22:27] #671 closed, assigned to mepa

[2022-03-11 23:03] mepa commented on #669
Branch 2022 has been created and is now the default branch

[2022-03-11 23:03] #669 closed, assigned to mepa

[2022-03-12 00:03] mepa commented on #672
Hey @deniederhut, does the new 2022 branch in scipy-proceedings-test need to contain the changes in the current 2022 branch of scipy-proceedings? Same question for dev branch.

[2022-03-13 22:36] deniederhut opened #676 "Update author invitation email"
We'll need to update this with current info for:

- List of current symposia
- Current paper submission deadline + outline of all deadlines

[2022-03-13 22:45] deniederhut commented on #672
No -- as long as it has the most recent changes from dev

[2022-03-14 13:33] mepa commented on #672
Thanks, Dillon. Just pushed a new 2022 branch made from dev.

[2022-03-14 13:33] #672 closed, assigned to mepa

[2022-03-23 14:49] deniederhut opened #677 "Put together latex template file for pandoc"

[2022-03-30 00:57] deniederhut commented on #677
Initial attempt here: https://github.com/scipy-conference/scipy_proceedings/pull/679

I have the tables working, but not the figure labels

[2022-04-25 15:35] ntjess commented on #419
@mepa @cbcunc @deniederhut @stargaser [Proceeding instructions](https://github.com/scipy-conference/scipy_proceedings#contacting-the-proceedings-co-chairs) indicate pinging co-chairs is the best way to reach out -- apologies if I misinterpreted that statement.

For the 2022 round of submissions, has there been any consideration of allowing LaTeX documents directly? I echo the sentiment above where

[2022-04-25 16:05] ntjess commented on #419
Not to spam the issue with comments, but I found this works quite well:

[code]

Citations and figures have no issues for my current document, and the paper header can still be specified in RST.

Is this acceptable as a submission? I recognize the potential downside of poor previews in the github markdown viewer, but hopefully that is a reasonable tradeoff. I can also zip & attach a MWE if you wis

[2022-05-08 23:15] deniederhut commented on #419
I was hoping to have this ready for the 2022 conference (you can see a WIP here https://github.com/scipy-conference/scipy_proceedings/pull/679) but there have been a series of issues translating the tables, references, etc. Given that papers are already being submitted, it seems wise not to introduce a new build system at the moment.

🤔 probably not? We add custom styling during the conversion fro

[2022-05-18 10:15] Carreau opened #687 "Misc notes on paper building process."
These are some misc notes on collaborating with someone to write one of the proceeding.

1) I think the rst file should be removed from the output folder after build, or renamed. Reason begin there is a non zero risk for someone to start editing the things in output/build/paper.rst, and loose work later. 😭

2) the default branch not being named `main` (or master), seem to be confusing.

Thanks !

[2022-05-21 03:54] ntjess commented on #419
@deniederhut apologies for the late reply, it took a minute to get a proof-of-concept draft. Are you able to briefly skim the output PDF to confirm whether styling is appropriate? Source tex files and build script are in my paper repo: https://github.com/ntjess/scipy_proceedings/tree/s3a_paper/papers/221_jessurun

My environment works with the default publisher script run on the main rst file.

If

[2022-05-26 19:53] rcjackson opened #697 "Paper builds locally but not on build server"
@deniederhut @mepa My paper builds just fine on my local machine but when I submitted the PR the paper build fails. The title of the paper is "Improving PyDDA's atmospheric wind retrievals using automatic differentiation and Augmented Lagrangian methods."

[2022-05-27 03:21] deniederhut commented on #697
Thanks for raising the issue! I've commented inline in the PR.

[2022-05-27 03:24] deniederhut commented on #687
The logic there is that we have a different branch for each year of the conference, and that this keeps giant clumps of paper paraphernalia (like pngs) out of the dev, the development branch. I would be happy to chat with you about more clever ways of achieving these goals.

Yup. We do have a `make clean` target, but that's probably not sufficient.

[2022-05-27 09:27] Carreau commented on #687
What about renaming master/main or whatever once the proceeding is published, so that at least during the submission period, it's a name that is commonly used ?

[2022-05-27 14:29] rcjackson commented on #697
@deniederhut I can't seem to find your comment anywhere in the PR.

[2022-05-27 15:15] ntjess commented on #677
@deniederhut thanks for putting this together. Eventually, I think it would be great to facilitate some compatibility with Overleaf as well, since the vast majority of LaTeX collaborators I know strongly prefer that tool for writing .tex papers.

You are welcome to review my build script for a POC implementation that pulls overleaf content into the current paper worktree if that is of interest. I

[2022-05-27 16:52] cliffckerr opened #703 "More inclusive example author list"
Minor point, but I feel it would be better aligned with SciPy's advice to "[be inclusive](https://www.scipy2022.scipy.org/code-of-conduct)" if the placeholder author names in the [templates](https://github.com/scipy-conference/scipy_proceedings/blob/2022/papers/00_bibderwalt/00_bibderwalt.rst) weren't all references to white men. :)

[2022-05-27 22:00] scottshambaugh opened #713 "Paper does not build when the first part of the author name is an initial followed by a period"
I can't seem to put an initial for my first name if there is a period after it. A period somewhere else still works.
Builds: `:author: W Scott Shambaugh`
Builds: `:author: W S. Shambaugh`
Does not build: `:author: W. Scott Shambaugh`

Full trace:
[code]

[2022-05-28 04:22] Alcampopiano opened #718 "LaTeX Warning: Citation X is undefined"
Hello 👋,

Regarding [this paper submission](https://github.com/scipy-conference/scipy_proceedings/pull/717), the build fails locally and on the server.

The warnings mark all of my citations as undefined, like this:

[code]

I've tried using only strings in my `bib` file as in the 00_bibderwalt` example as well as using `\detokenize` as suggested in the docs. I've also compared my paper and biblio

[2022-05-29 00:59] Alcampopiano commented on #718
Well, I got it to build locally.

I copied everything into a new `rst` file and removed a gif that I was using. That seemed to fix all the citation errors. I don't quite know what the root cause was but I'm thankful it's all working now.

[2022-05-29 00:59] #718 closed, assigned to nobody

[2022-05-29 15:04] Micky774 commented on #677
Just wanted to add that indeed my lab has several first-time-authors submitting to this conference and working w/ rST (and in particular debugging when something went wrong) was painful for them. Currently all the debugging is in terms of the generated `style.tex` file and not obvious for newcomers how to approach that. Some kind of style guide/template for use in Overleaf would be an amazing thin

[2022-05-29 19:33] deniederhut commented on #687
Not a bad idea -- I'll bring it up with the committee

[2022-05-29 19:39] deniederhut commented on #677
Cool idea! Yeah right now I think the biggest pain point for most submitters is the requirement to submit in rst, so top development priority for us is opening up submission formats to latex/markdown. I've never used overleaf before - how hard is that integration?

[2022-05-29 19:41] deniederhut commented on #697
🤔  it must have been lost to the cosmos? But it looks like Meghann was able to help you out https://github.com/scipy-conference/scipy_proceedings/pull/696#pullrequestreview-987831919

[2022-05-29 19:41] #697 closed, assigned to nobody

[2022-05-29 19:43] deniederhut commented on #703
Great idea! I'm sure we can make that happen

[2022-05-29 19:51] deniederhut commented on #713
Weird. This might be a bug in docutils? I won't have time to look into this for at least a couple of days -- are you okay sticking with just W Scott for now?

[2022-05-29 20:42] ntjess commented on #677
It is backed by a git repo by default, so should be trivial if I had to guess:
![image](https://user-images.githubusercontent.com/23620506/170890477-046a0ed8-b46b-44ae-a57e-5734c01ffd2a.png)

My workflow for this paper was to `git checkout --worktree=<paper/dir> -- <tex-files>` and it went quite nicely. If you had the user configure an Overleaf repo environment variable, the `publisher` script tha

[2022-05-29 20:48] ntjess commented on #677
Forgot to add: it should also be minimally intrusive to people already using overleaf, since the git repo is the same as the project url 🙂 No need to even open the side bar if you prefer.
![image](https://user-images.githubusercontent.com/23620506/170890851-f5c28e75-f2a1-4dfe-b848-72f62447cfae.png)

[2022-05-30 00:11] imoiwm opened #728 "PDF build failed- table content block and block quote issues"
I'm experiencing the following errors when building our paper (fork from "ahy69195") locally as well as a prompt to download the missing, required file ```tex\latex\ieeetran\IEEEtran.cls``` from the package ```ieeetran```:

[code]

Even after confirming I installed the requirements from ```requirements.txt``` as well as attempting to manually install the ```ieeetran``` file, I was unable to downlo

[2022-05-30 16:00] scottshambaugh commented on #713
Yup, not a huge deal!

[2022-05-30 20:32] astrojuanlu opened #729 "PDF build failed because of Unicode characters ♁ or ⤶"
I am trying to build #724 locally with some astronomical symbols, but I get these errors:

[code]

I see several ways online to address it, but generally they involve using extra packages like https://mirrors.rit.edu/CTAN/macros/latex/contrib/wasysym/wasysym.pdf or doing some hackery. What would be the best way forward here?

[2022-05-30 20:33] astrojuanlu commented on #729
Also happening with others like ⤶ (trying to use it to communicate line continuation in wide code outputs)

[2022-05-30 20:33] astrojuanlu commented on #729
cc @jorgepiloto

[2022-05-30 20:36] deniederhut commented on #728
IEEE transactions is a latex package -- not a python one -- so you would download it with whatever you used to install latex, e.g. tlmgr, mactex, etc.

Hard to say much about this error without the context around that line, but rst in general is pretty fussy about the appropriate amount of newlines between sections, so that might be a place to start.

BTW you can attach comments (like questions ab

[2022-05-30 20:55] deniederhut commented on #729
We might be able to declare a new unicode character (e.g. following https://en.m.wikibooks.org/wiki/LaTeX/Special_Characters), but this will depend on us having that glyph in our font files, which we might not.

[2022-05-31 14:14] jGaboardi opened #731 "possible to update copyright text?"
@deniederhut

We (@jvtcl) are going to be submitting a paper and have a question regarding updating the text of the copyright. We came across @WildfireXIII's comment [here](https://github.com/scipy-conference/scipy_proceedings/pull/698#issuecomment-1139594213) (we are actually at the same organization), but we are wondering if it would be possible swap out the current one that is included:

For th

[2022-05-31 18:04] jGaboardi commented on #731
@WildfireXIII provides an excellent solution [here](https://github.com/scipy-conference/scipy_proceedings/pull/698#issuecomment-1142299937), and as follows:

[code]

[2022-05-31 18:04] #731 closed, assigned to nobody

[2022-06-02 12:26] deniederhut commented on #728
The discussion has moved to the PR, so I'll close this ticket

[2022-06-02 12:26] #728 closed, assigned to nobody

[2022-06-02 12:29] deniederhut commented on #676
Closed in #678

[2022-06-02 12:29] #676 closed, assigned to stargaser

[2022-06-03 01:17] mepa commented on #572
Hey @deniederhut, it looks like the subsection exists but the internal refs to it are broken. Submitted a PR to fix it.

[2022-06-03 19:50] #572 closed, assigned to nobody

[2022-06-03 21:58] mepa opened #735 "Add citation info for popular libraries"
- Put common scipy library citations in example bibfile
- Add explicit instructions for how to cite web sites

[2022-06-04 18:05] ojemebo opened #736 "Please, create sections for abstract and introduction"
Sorry for my late response, Allan Campopiano; I was actually added recently as one of the reviewers for your paper.

Your work is indeed interesting and the topic is great, but please:

1) create a section for the abstract where you can have a summary of your work.....one or two sentences for introduction, one sentence for motivation, one sentence for your adopted method, one sentence for results,

[2022-06-04 21:01] ojemebo opened #737 "Correct these citations"
1) "Even familiar machine learning models have, buried in their guts, an assumption of the normal curve (e.g., LDA, gaussian naive Bayes, logistic & linear regression)"...__**a reference should be cited here to support this claim_**_
         one typo here:  a) remove the comma ',' between have and buried

2) "The normal curve has had a grip on us for some time; the aphorism by [Cra46] still rings

[2022-06-04 21:12] ojemebo opened #738 "improve the quality of Fig.3 and label your equations"
1) Fig. 3 is poor in quality; please, make it clearer

2) All equations should be labeled for reference purposes

[2022-06-04 21:21] ojemebo opened #739 "There's a missing word in the Acknowledgements section and Author's institutional affiliation is missing"
1) The author would like to Karlynn Chan and Rand R. Wilcox as well as Elizabeth Dlha and the entire Deepnote team for their
support of this project........_**the word 'thank' is missing between to and Karlynn**_

2) State your institutional affiliation below your name

[2022-06-04 22:09] deniederhut commented on #713
Okay we have a solution! The decimal there is confusing the rst parser, but it works if you escape it. So if you do e.g.

[code]

This eventually renders as

<img width="161" alt="Screen Shot 2022-06-04 at 5 09 22 PM" src="https://user-images.githubusercontent.com/6868396/172026960-a5ae6e89-09e2-456b-af82-c03ecc7268dd.png">

[2022-06-04 22:15] deniederhut commented on #736
Hi @ojemebo ! The authors won't see these comments, since these are being filed as issues against the whole repository. What we'll want to do is leave a pull request review. In GitHub, you can do this by opening the paper PR, and clicking the "view files" tab

<img width="1066" alt="Screen Shot 2022-06-04 at 5 11 41 PM" src="https://user-images.githubusercontent.com/6868396/172027073-21dad63b-ba8b

[2022-06-04 22:15] #736 closed, assigned to nobody

[2022-06-04 22:16] deniederhut commented on #737
Please see this comment https://github.com/scipy-conference/scipy_proceedings/issues/736#issuecomment-1146693611

[2022-06-04 22:16] #737 closed, assigned to nobody

[2022-06-04 22:16] deniederhut commented on #738
Please see this comment https://github.com/scipy-conference/scipy_proceedings/issues/736#issuecomment-1146693611

[2022-06-04 22:16] #738 closed, assigned to nobody

[2022-06-04 22:16] deniederhut commented on #739
Please see this comment https://github.com/scipy-conference/scipy_proceedings/issues/736#issuecomment-1146693611

[2022-06-04 22:16] #739 closed, assigned to nobody

[2022-06-04 22:33] scottshambaugh commented on #713
Awesome, thank you! That’s an easy enough workaround that I think this issue can close.

[2022-06-04 22:33] #713 closed, assigned to nobody

[2022-06-04 23:05] ojemebo commented on #739
Since I am new to the GitHub platform, would you like to chat briefly over Zoom so you can show me exactly how to do this?. I'm available for this at your convenient time

[2022-06-07 08:56] astrojuanlu commented on #524
[MyST](https://myst-parser.readthedocs.io/) supports the same directives and roles as reST, perhaps it's worth looking into it https://mystyc.herokuapp.com/

[2022-06-28 17:46] scottshambaugh opened #741 "First item in double indented numbered list has wrong spacing"
In [my paper](https://github.com/scipy-conference/scipy_proceedings/pull/711), the following code has item a) rendering with a weird indent level. I can't figure out how to get it to align correctly.

Things I've tried:

- Removing the four spaces after `following:    ` does not affect the output.
- Changing the number of spaces before the alphabetical list does not change the output.
- Removing t

[2022-06-29 01:00] deniederhut commented on #741
Please don't open tickets about issues you are having with your paper -- we can address those in the PR

[2022-06-29 01:00] #741 closed, assigned to nobody

[2022-06-29 17:04] sbrugman opened #742 "Consider providing bibtex-tidy"
There is this tool [bibtex-tidy](https://github.com/FlamingTempura/bibtex-tidy) that helps formatting and checking bib files, improving the overal quality (e.g. prevent duplicates in DOI and keys, consistent ordering of keys). We could consider providing this tool as a utility to authors.

The author instructions contain pointers on using bib, namely:

Moreover, scoobies provides a [`check referen

[2022-07-01 01:30] deniederhut commented on #742
Ooh thanks for the suggestion! We're all pretty swamped right now getting everything reviewed in time for the conference -- is it okay if we revisit this after the conference?

[2022-07-01 10:13] sbrugman commented on #742
No problem, looking forward to the conference

[2022-07-17 16:17] cbcunc opened #753 "Revert merges of 2022 branch required for PR #707"
@salirezav:

PR #707 contains several merge commits of the 2022 branch. This is preventing the proceedings build machinery from locating the paper to build as the PR now contains all papers thus far merged into the 2022 proceeding branch.

Please revert all merge commits of the 2022 branch in PR #707. You may wish to stash your work on the PR in case the reverts remove updates to you paper, as you

[2022-07-21 14:08] gpoore commented on #677
@deniederhut Thanks for all your work with the proceedings this year! It looks like you have already made some good progress on Pandoc support. If more help is needed to finish this for next year, I'm interested. I actually wrote my [2022 proceedings paper](https://github.com/scipy-conference/scipy_proceedings/pull/716/files) in Markdown, and then converted to rST using Pandoc. (Pandoc allows incl

[2022-07-22 16:11] salirezav commented on #753
I reverted all of the commits listed above. I hope everything is working correctly and hopefully I have not messed up anything.
Please let me know if I need to modify anything else.

[2022-07-28 09:24] Carreau opened #776 "DOI missing ?"
It looks like most, if not all of the papers at https://conference.scipy.org/proceedings/scipy2022/ don't have a DOI, is that on purpose ?

[2022-08-01 08:29] Carreau commented on #776
It seem to be there now, thanks !

[2022-08-01 08:29] #776 closed, assigned to nobody

[2022-08-04 07:23] Carreau opened #779 "Misc Questions about also publishing this on other open archives."
I'd like to also put the Papyri proceeding on
https://hal.archives-ouvertes.fr/

https://conference.scipy.org/proceedings/scipy2022/ state everything is under CC-by-3.0, but I think that covers only the content. Do we have the explicit authorisation to upload the final rendered PDF ?

This brings me to the second, related question, Tool slike google scholar do not seem to crawl/detect those procee